<tr>
    <td>
        <p>Hello {{company_name}}</p>
        <p>Your account on Zealand Connect has been inactive for six months.
             If you have any posts without an application deadline, then they have been made hidden.
             To show the posts again, please log in to <a href="https://connect.zealand.dk">https://connect.zealand.dk</a> and edit the posts.
             We hope you'll continue to use Zealand Connect.</p>
        <p>Sincerely, The Zealand Connect Team</p>
    </td>
</tr>