<div class="modal fade" id="searchVirksomhederModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Søg virksomheder</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container">
        <div class="col">
          <div class="row">
            <p>Find virksomheder ved navn</p>
          </div>
          <div class="input-group row">
            <input class="form-control" type="text" id="searchCompanyText">
            <button class="btn btn-outline-secondary" onclick="searchCompany()">Søg</button>
          </div>
          <br>
          <div class="row">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Navn</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody id="tableCompanyBody">
                <!-- dynamisk indhold her -->
              </tbody>
            </table>
          </div>
        </div>


      </div>
      <input type="hidden" id="selectedCompany">
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="finishCompany()" data-dismiss="modal">Vælg</button>
      </div>
    </div>
  </div>
</div>
<script>
  function searchCompany() {
    let searchCompanyText = document.getElementById('searchCompanyText').value;

    let xhr = new XMLHttpRequest();
    xhr.onload = function () {
        let data = JSON.parse(xhr.responseText);
        let tableCompanyBody = document.getElementById('tableCompanyBody');
        tableCompanyBody.innerHTML = '';

        data.forEach((element, i) => {
          let row = '<tr id="' + 'row' + i + '" onclick="selectCompany(\'' + element.email + '\', ' + i + ')">' +
            '<td>' + element.navn + '</td>' +
            '<td>' + element.email + '</td>' +
          '</tr>'

            tableCompanyBody.innerHTML += row;
        });
    }
    xhr.open("POST", '/admin-funktioner/search-virksomhed');
    xhr.send(JSON.stringify({"name": searchCompanyText}));
  }

  function selectCompany(selected, index) {
    document.querySelectorAll('tr.search-selected').forEach(element => {
      element.classList.remove('search-selected');
    });

    document.getElementById('row' + index).classList.add('search-selected');
    document.getElementById('selectedCompany').value = selected;
  }

  function finishCompany() {
    document.getElementById('virksomhedSletEmailInput').value = document.getElementById('selectedCompany').value
  }
</script>