<div class="modal fade" id="aendrePasswordModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Ændre password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form class="form-column" id="passwordForm">
        <div class="modal-body container">
          <div class="col passwordCol">
            <div class="form-group">
              <label for="gamlePassword">Gamle password</label>
              <input class="form-control" type="password" name="gamlePassword" id="gamlePassword">
              <label class="col-form-label formError" id="gamlePasswordError">Adgangskoden er ikke korrekt</label>
            </div>
            <div class="form-group">
              <label for="nytPassword">Nyt password<span class="tooltiphelp" data-toggle="tooltip" data-placement="top"
                  title="Adgangskoden skal være mellem 8 og 20 cifre">?</span></label>
              <input class="form-control" type="password" name="nytPassword" id="nytPassword">
              <label class="col-form-label formError" id="nytPasswordError">Adgangskoden er ikke gyldig</label>
            </div>
            <div class="form-group">
              <label for="gentagNytPassword">Gentag password</label>
              <input class="form-control" type="password" name="gentagNytPassword" id="gentagNytPassword">
              <label class="col-form-label formError" id="gentagNytPasswordError">De to Adgangskoder er ikke
                ens.</label>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <label id="success">Adgangskoden er blevet ændret. Vinduet lukker automatisk</label>
        <button type="button" class="btn btn-success" onclick="validate()">Bekræft</button>
      </div>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll('label.formError').forEach(element => {
    element.hidden = true;
  });
  document.getElementById('success').hidden = true;

  function validate() {

    let formData = new FormData(document.getElementById('passwordForm'));

    let xhr = new XMLHttpRequest();

    xhr.onload = function () {

      if (this.status == 200) {
        document.getElementById('success').hidden = false;

        setTimeout(() => {
          document.getElementById('gamlePassword').value = '';
          document.getElementById('gamlePasswordError').hidden = true;
          document.getElementById('nytPassword').value = '';
          document.getElementById('nytPasswordError').hidden = true;
          document.getElementById('gentagNytPassword').value = '';
          document.getElementById('gentagNytPasswordError').hidden = true;
          
          document.getElementById('success').hidden = true;
          $('#aendrePasswordModal').modal('hide');
        }, 5000);
      } else {
        let errors = JSON.parse(this.responseText);

        errors.forEach(error => {
          switch (error) {
            case 1:
              document.getElementById('gamlePasswordError').hidden = false;
              break;
            case 2:
              document.getElementById('nytPasswordError').hidden = false;
              break;
            case 3:
              document.getElementById('gentagNytPasswordError').hidden = false;
          }
        });
      }

    };

    xhr.open('POST', '/profil/change-password-company');
    xhr.send(formData);
  }
</script>