<div class="modal fade" id="aendrePasswordModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle" data-key="Aendrer_password">Ændrer password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form class="form-column" id="passwordForm">
        <div class="modal-body container">
          <div class="col passwordCol">
            <div class="form-group">
              <label for="gamlePassword" data-key="Gamle_password">Gamle password</label>
              <input class="form-control" type="password" name="gamlePassword" id="gamlePassword">
              <label class="col-form-label formError" id="gamlePasswordError" data-key="Gamle_passwordError" >Adgangskoden er ikke korrekt</label>
            </div>
            <div class="form-group">
              <label for="nytPassword" data-key="Nyt_password_html">Nyt password<span class="tooltiphelp" data-toggle="tooltip" data-placement="top"
                  title="Adgangskoden skal være mellem 8 og 20 cifre">?</span></label>
              <input class="form-control" type="password" name="nytPassword" id="nytPassword">
              <label class="col-form-label formError" id="nytPasswordError" data-key="Nyt_passwordError">Adgangskoden er ikke gyldig</label>
            </div>
            <div class="form-group">
              <label for="gentagNytPassword" data-key="Gentag_password">Gentag password</label>
              <input class="form-control" type="password" name="gentagNytPassword" id="gentagNytPassword">
              <label class="col-form-label formError" id="gentagNytPasswordError" data-key="Gentag_passwordError">De to Adgangskoder er ikke
                ens.</label>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <label id="success" data-key="password_succes">Adgangskoden er blevet ændret. Vinduet lukker automatisk</label>
        <button type="button" class="btn btn-success" onclick="validate()" data-key="Bekraeft">Bekræft</button>
      </div>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll('label.formError').forEach(element => {
    element.hidden = true;
  });
  document.getElementById('success').hidden = true;
  function validate() {
    let formData = new FormData(document.getElementById('passwordForm'));
    let xhr = new XMLHttpRequest();
    xhr.onload = function () {
      if (this.status == 200) {
        document.getElementById('success').hidden = false;
        document.querySelectorAll('label.formError').forEach(element => {
          element.hidden = true;
        });
        setTimeout(() => {
          document.getElementById('gamlePassword').value = '';
          document.getElementById('nytPassword').value = '';
          document.getElementById('gentagNytPassword').value = '';
          
          document.getElementById('success').hidden = true;
          $('#aendrePasswordModal').modal('hide');
        }, 5000);
      } else {
        let errors = JSON.parse(this.responseText);
        errors.forEach(error => {
          switch (error) {
            case 1:
              document.getElementById('gamlePasswordError').hidden = false;
              break;
            case 2:
              document.getElementById('nytPasswordError').hidden = false;
              break;
            case 3:
              document.getElementById('gentagNytPasswordError').hidden = false;
          }
        });
      }
    };
    if ("{{isCompany}}") {
      xhr.open('POST', '/profil/change-password-company');
    } else {
      xhr.open('POST', '/profil/change-password-student');
    }
    xhr.send(formData);
  }
</script>