<div class="modal rounded-0" tabindex="-1" role="dialog" id="cookieModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0">
            <div id="cookieModalHeader" class="modal-header rounded-0 modalHeader">
                <div class="container">
                    <div class="row">
                        <h5 id="cookieModalTitle" class="modal-title text-white align-self-center pr-2">Zealand Connect</h5>
                        <a onclick="changeLang('da')" class="modal-title text-muted pr-2 btn btn-link">Dansk</a>
                        <a onclick="changeLang('en')" class="modal-title text-muted btn btn-link">English</a>
                    </div>
                </div>
            </div>
            <div class="modal-body ml-3 mr-3">
                <div class="container">
                    <div class="row">
                        <div class="column">
                            <h3 class="pt-4 pb-4 consent-text" data-key="Cookie_indstillinger">Cookie indstillinger</h3>
                            <p class="consent-text" data-key="Cookie_indstillinger_body_html">Vi bruger cookies for at give dig den bedste oplevelse af connect.zealand.dk. Når du klikker
                                ‘Bekræft’, accepterer du vores brug af cookies og <a
                                    href="https://www.zealand.dk/persondatapolitik/">Zealand’s privatlivspolitik.</a>
                                 Du kan læse mere om cookies <a href="https://www.zealand.dk/cookies/">her</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <form id="formCookieConsent" action="/cookie-confirm" method="POST">
                <div class="modal-footer rounded-0">
                    <div class="container">
                        <div class="row align-self-center">
                            <div class="col">
                                <p class="consent-text" data-key="Du_kan_vaelge_html">
                                    Du kan vælge hvilke cookies der er tilladte.<br>Hold musen over for beskrivelse.
                                </p>
                                <div class="row ml-1">
                                    <div class="form-group pr-2 m-0">
                                        <input id="necessary" type="checkbox" checked disabled>
                                        <label class="consent-text" for="necessary" data-toggle="tooltip" data-placement="top" title="Nødvendige cookies er til f.eks at håndtere login. Siden kan ikke fungere uden disse." data-key="Noedvendige_cookies_title">
                                            Nødvendige cookies
                                            </label>
                                    </div>
                                    <div class="form-group m-0">
                                        <input id="preference" type="checkbox" name="preference" checked>
                                        <label class="consent-text" for="preference" data-toggle="tooltip" data-placement="top" title="Præference cookies er dem der gemmer personlige præferencer. På denne side bruges det til sprog." data-key="Praeference_cookies_title">
                                            Præference cookies
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <div class="row justify-content-end">
                                    <button type="button" class="btn btn-success consent-text" data-dismiss="modal" onclick="confirmConsent('formCookieConsent')" data-key="Bekraeft">Bekræft</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <input type="hidden" id="languageSelect" name="lang" value="da">
            </form>
        </div>
    </div>
</div>
<script>
    function changeLang(lang) {
        let langdata = {
            "en": {
                "Cookie_indstillinger": "Cookie settings",
                "Cookie_indstillinger_body_html": "We use cookies to give you the best experience using connect.zealand.dk. When you click 'confirm', you accept our use of cookies and " +
                "<a href='https://www.zealand.dk/persondatapolitik/'>the private policy of Zealand.</a> " +
                        "Read more about cookies <a href='https://www.zealand.dk/cookies/'>here</a>.",
                "Du_kan_vaelge_html": "You can choose which type of cookies are allowed.<br>Hover the mouse over for descriptions.",
                "Noedvendige_cookies_title": ["Required cookies", "Required cookies are used e.g. to handle login. The site cannot function without these."],
                "Praeference_cookies_title": ["Preference cookies", "Preference cookies are those that save personal preferences. It's used for language options on this site."],
                "Bekraeft": "Confirm"
            },

            "da": {
                "Cookie_indstillinger": "Cookie indstillinger",
                "Cookie_indstillinger_body_html": "Vi bruger cookies for at give dig den bedste oplevelse af connect.zealand.dk. Når du klikker ‘Bekræft’, accepterer du vores brug af cookies og " +
                "<a href='https://www.zealand.dk/persondatapolitik/'>Zealand’s privatlivspolitik.</a> " +
                        "Du kan læse mere om cookies <a href='https://www.zealand.dk/cookies/'>her</a>.",
                "Du_kan_vaelge_html": "Du kan vælge hvilke cookies der er tilladte.<br>Hold musen over for beskrivelse.",
                "Noedvendige_cookies_title": ["Nødvendige cookies", "Nødvendige cookies er til f.eks at håndtere login. Siden kan ikke fungere uden disse."],
                "Praeference_cookies_title": ["Præference cookies", "Præference cookies er dem der gemmer personlige præferencer. På denne side bruges det til sprog."],
                "Bekraeft": "Bekræft"
            }
        }

        if (lang == 'en') {
            document.getElementById('languageSelect').value = 'en';
        } else {
            document.getElementById('languageSelect').value = 'da';
        }

        document.querySelectorAll('.consent-text').forEach(element => {

            //for hvert data-key værdi, leder den efter det i json navngivet langdata
            let key = element.getAttribute('data-key');

            if (!langdata[lang].hasOwnProperty(key)) {
                return;
            }

            if(key.includes('html')) {
                element.innerHTML = langdata[lang][key];
                return;
            }

            if (key.includes('title')) {
                $(element).tooltip('dispose');
                element.textContent = langdata[lang][key][0];
                element.title = langdata[lang][key][1];
                $(element).tooltip();

                return;
            }

            element.textContent = langdata[lang][key];
        });
    }
</script>