<div class="modal fade" id="cropperModal" tabindex="-1" role="dialog" aria-labelledby="cropperModalLabel" aria-hidden="true">
  <div id="cropDialog" class="modal-dialog" role="document">
    <div id="cropContent" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cropperModalLabel">Skær billede til</h5>
        <button id="close" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="cropBody" class="modal-body m-0 p-0">
        <img class="w-100" id="cropFrame">
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-success" id="confirm">Bekræft</button>
      </div>
    </div>
  </div>
</div>