<div class="modal rounded-0" tabindex="-1" role="dialog" id="professorConsentModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0">
            <div id="professorConsentModalHeader" class="modal-header rounded-0 modalHeader">
                <div class="container">
                    <div class="row">
                        <h5 id="professorConsentModalTitle" class="modal-title text-white align-self-center pr-2">Zealand
                            Connect</h5>
                        <a onclick="changeLanguage('da')" class="modal-title text-muted pr-2 btn btn-link">Dansk</a>
                        <a onclick="changeLanguage('en')" class="modal-title text-muted btn btn-link">English</a>
                    </div>
                </div>
            </div>
            <div class="modal-body ml-3 mr-3">
                <div class="container">
                    <div class="row">
                        <div class="column modal-content">
                            <h1 class="pt-4 pb-4 consent-text" data-key="data_consent_title" style="word-break: break-word">Samtykke til behandling af
                                personoplysninger</h1>
                            <h5 class="consent-header" data-key="data_consent_header1">Zealand Connect</h5>
                            <p data-key="data_consent_paragraph1">
                                I forbindelse med din oprettelse af bruger på Zealand Connect har vi brug for dit
                                samtykke til, at vi må behandle dine personoplysninger i overensstemmelse med
                                Databeskyttelsesforordningen.
                            </p>
                            <h5 class="consent-header" data-key="data_consent_header2">Projektbeskrivelse</h5>
                            <p data-key="data_consent_paragraph2">Zealand Connect er en platform, hvor virksomheder har
                                mulighed for at finde praktikstuderende og hvor studerende, adjunkter og lektorer kan
                                lægge CV op for et match med en virksomhed.
                            </p>
                            <p><a href="https://connect.zealand.dk/">https://connect.zealand.dk/</a></p>

                            <h5 class="consent-header" data-key="data_consent_header3">Dataansvarlig</h5>
                            <p data-key="data_consent_paragraph3">
                                Zealand, Lyngvej 21, 4600 Køge, CVR nr. 31661471, er Dataansvarlig for behandlingen af
                                dine personoplysninger. For så vidt angår kontakt angående persondataansvaret kan
                                Benjamin Kyhn og Tommy Hansen kontaktes på hhv. bek@easj.dk og tokx@easj.dk.
                            </p>
                            <h5 class="consent-header" data-key="data_consent_header4">Kategorier af personoplysninger
                                der behandles om dig</h5>
                            <p data-key="data_consent_paragraph4">
                                Vi behandler almindelige personoplysninger i form af navn, mailadresse, mobilnummer samt
                                eventuelle øvrige oplysninger, som du afgiver i dit CV.
                            </p>
                            <h5 class="consent-header" data-key="data_consent_header5">Formål og
                                Behandlingsaktiviteter</h5>
                            <p data-key="professor_consent_paragraph5">
                                Dine personoplysninger behandles med det formål at give virksomheder mulighed for at
                                finde samarbejdspartnere til projekter.
                            </p>
                            <h5 class="consent-header" data-key="data_consent_header6">Eventuelle modtagere eller
                                kategorier af modtagere af personoplysningerne</h5>
                            <p data-key="data_consent_paragraph6">
                                Dine personoplysninger bliver offentliggjort på https://connect.zealand.dk/ og bliver
                                lagt frit tilgængelige for virksomheder, studerende, undervisere og andre interessenter mv. Der er
                                ikke tale om et lukket forum.
                            </p>
                            <h5 class="consent-header" data-key="data_consent_header7">Overførsel til Tredjeland eller
                                International Organisation</h5>
                            <p data-key="data_consent_paragraph7">Vi overfører ikke dine personoplysninger til nogen
                                uden for EU/EØS.</p>

                            <h5 class="consent-header" data-key="data_consent_header8">Opbevaringstid</h5>
                            <p data-key="data_consent_paragraph8">Vi opbevarer dine personoplysninger et år fra sidste
                                logindato og så længe, du har
                                accepteret dette samtykke.</p>
                            <h5 class="consent-header" data-key="data_consent_header9">Mulighed for at trække samtykke
                                tilbage</h5>
                            <p data-key="data_consent_paragraph9">
                                Deltagelse er frivilligt og du kan til enhver tid trække dit samtykke til behandling af
                                personoplysninger tilbage. Dette kan ske ved at kontakte Benjamin Kyhn på bekx@easj.dk
                                eller Tommy Hansen på tokx@easj.dk. Du kan også til enhver tid slette dine oplysninger
                                og CV ved at logge ind på Zealand Connect. Hvis du tilbagetrækker dit samtykke får det
                                først virkning fra dette tidspunkt og påvirker ikke lovligheden af vores behandling op
                                til dette tidspunkt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <form id="formDataProfessorConsent" action="/data-consent" method="POST">
                <div class="modal-footer rounded-0 ml-3 mr-3">
                    <div class="container">
                        <div class="row align-self-center">
                            <div class="col-10">
                                <div class="form-group pr-2 m-0">
                                    <input
                                            id="professorConsent"
                                            class="form-check-input"
                                            type="checkbox"
                                            name="professorConsent"
                                            onchange="checkProfessorConsent()"
                                    >
                                    <label class="consent-text" for="professorConsent" data-key="bekraeft_samtykke">
                                        Jeg bekræfter at have læst og forstået Zealand Connects
                                        samtykkeerklæring om personoplysninger,
                                        som baggrund for mit samtykke til behandling af mine personoplysninger til
                                        ovennævnte formål.
                                    </label>
                                </div>
                            </div>
                            <div class="col-2 align-self-center">
                                <div class="row justify-content-end">
                                    {{#if isProfessor}}
                                        <button
                                                id="professorConsentButton"
                                                type="button"
                                                class="btn stdBtn gulKnap"
                                                data-key="Bekraeft"
                                                onclick="submitProfessorConsent()"
                                                data-dismiss="modal"
                                                disabled
                                        >Bekræft
                                        </button>
                                        <a class="btn stdBtn gulKnap" id="logud" href="/login/logout" data-key="aLogud">Log
                                            ud</a>
                                    {{else}}
                                        <a class="btn stdBtn gulKnap" id="" data-dismiss="modal" data-key="Luk">Luk</a>
                                    {{/if}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function submitProfessorConsent() {
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/data-consent/professor', true);
        xhr.setRequestHeader('Content-type', 'text/plain');
        xhr.send(document.getElementById('professorConsent').checked);
    }

    function checkProfessorConsent() {
        let consentCheckbox = document.getElementById("professorConsent");
        let professorConsent = document.getElementById("professorConsentCreate");
        let consentButton = document.getElementById("professorConsentButton");
        let createProfessorButton = document.getElementById("submitBtn_Professor");
        let consentTextPro = document.getElementById("consentTextProfessor");

        if (consentButton) {
            consentButton.disabled = !consentCheckbox.checked;
        }

        if (createProfessorButton) {
            createProfessorButton.disabled = !consentCheckbox.checked;
            professorConsent.value = consentCheckbox.checked;
            if (consentCheckbox.checked) {
                consentTextPro.classList.remove('formError');
            } else {
                consentTextPro.classList.add('formError');
            }
        }
    }
</script>