<div class="modal rounded-0" tabindex="-1" role="dialog" id="eventModal">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div id="modal-content" class="modal-content rounded-0">
            {{> event-modal-show}}
        </div>
    </div>
</div>