<div class="modal-header rounded-0 modalHeader">
    <div class="container">
        <div class="row">
            <h5 class="modal-title text-white align-self-center pr-2">Zealand Connect</h5>
        </div>
    </div>
</div>
<div class="modal-body ml-3 mr-3 mb-4">
    <div class="container">
        <div class="column">
            <h3 id="eventTitle" class="pt-4 pb-4 consent-text">Titel på begivenhed</h3>
            <p id="startTime"></p>
            <p id="endTime"></p>
            <p id="eventDescription" class="consent-text">Beskrivelse af begivenhed</p>
            <a id="eventURL" href=""></a>
            {{!-- <div>

            </div> --}}
        </div>
    </div>
</div>
<div class="modal-footer">
    {{#if isAdmin}}
    <a class="btn stdBtn gulKnap" id="modalEditButton" data-dismiss="modal" data-key="Rediger">Rediger</a>
    {{/if}}
    <a class="btn stdBtn gulKnap" id="" data-dismiss="modal" data-key="Luk">Luk</a>
</div>