<h1 class="pb-1" id="Praktikperiode" data-key="Praktikperiode">
    Praktikperiode
</h1>
<p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;" data-key="Praktikperiode_body_html">
    Oversigt over praktikperioder på uddannelserne
<img src="/images/praktikperioder.jpg">
</p>