<h1 class="pb-1" id="For_studerende" data-key="For_studerende">
    For studerende
</h1>
<p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;" data-key="For_studerende_body">
    Som studerende på Zealand er praktik en obligatorisk del af din uddannelse. Praktikperioden afhænger af hvilken uddannelse den studerende går på (se skema under Praktikperiode).
</p>