<h1 class="pb-1" id="Arbejdstid_og_læringsmål" data-key="Arbejdstid_og_laeringsmaal">
    Arbejdstid og læringsmål
</h1>
<p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;" data-key="Arbejdstid_og_laeringsmaal_body_html">
    Praktikanten skal arbejde 37 timer pr. uge inkl. tid til at arbejde med en praktikrapport, som den studerende skal til eksamen i efter endt praktik. Hvis arbejdstiden ligger uden for hverdage, skal det aftales og oplyses i praktikaftalen.<br><br>
    Den studerendes arbejdsopgaver skal være relevante og opfylde læringsmålene inden for den pågældende uddannelse. Arbejdsopgaverne, som skal godkendes af Zealands praktikkoordinator, kan fx være hjælp til den daglige opgaveløsning, gennemførelse af analyser, udviklingsopgaver mv.
</p>