<h1 class="pb-3" id="Til_Virksomheder" data-key="For_virksomheden">
    For virksomheden
</h1>
<p class="text-left pb-1" style="font-size: 21px;" style="width: 90%;" data-key="For_virksomheden_body_html">
    Som led i uddannelsen på Zealand, skal vores studerende i praktik og man har som virksomhed mulighed for at få en ulønnet praktikant i 3 måneder. Dog er der enkelte uddannelser, hvor praktikperioden har en anden længde eller at den er lønnet (se mere under Løn)<br><br>.
    Et praktikforløb har flere formål, og er givende for både for virksomheden og for den studerende. Vores studerende er klar til at bidrage med en bred teoretisk viden. I virksomheden får den studerende mulighed for at afprøve sine kompetencer i praksis og de får værdifulde konkrete erfaringer<br><br>.
    Målet med praktik er at koble uddannelsens teorier og værktøjer med faktiske og praktiske udfordringer, som virksomheder møder dagligt<br><br>.
    Virksomheden tildeler praktikanten en kontaktperson, som har daglig kontakt og mulighed for at guide og hjælpe under praktikforløbet. Derudover vil kontaktpersonen efter endt praktik skulle udfylde en digital evaluering af den studerende og samarbejdet med Zealand.
</p>