<h1 class="pb-1" id="Forsikring" data-key="Forsikring">
    Forsikring
</h1>
<p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;" data-key="Forsikring_body">
    I henhold til §§ 48 og 49 i Lov om arbejdsskadesikring, er det praktikvirksomhedens pligt at forsikre den studerende under praktikopholdet i Danmark.
</p>