<h1 class="pb-1" id="ZealandConnect">
    Zealand Connect
</h1>
<p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;" data-key="ZealandConnect_body">
    Find en praktikant ved at oprette en annonce på Zealand Connect, og beskriv hvad du kan tilbyde i praktikforløbet. Vil du selv finde en praktikant, har du også mulighed for at gennemgå de studerendes CV og selv kontakte dem ved yderligere interesse.
</p>