<h1 class="pb-1" id="Løn" data-key="Loen">
    Løn
</h1>
<p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;" data-key="Loen_body_html">
    Praktikken er ulønnet – dog er den lønnet for handelsøkonomstuderende og laborantstuderende.<br><br>
    Virksomheden har mulighed for at give den studerende en erkendtlighed efter endt praktik. Erkendtligheden anses ikke som løn, men en påskønnelse af den studerendes indsats.
</p>