<h1 class="pb-1" id="Praktikaftale" data-key="Praktikaftale">
    Praktikaftale
</h1>
<p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;" data-key="Praktikaftale_body_html">
    Zealands praktikaftale er digital.<br><br>
    Kontrakten udfyldes af den studerende med informationer om den studerende og virksomheden. Zealands praktikkoordinator godkender praktikaftalen inden den sendes til godkendelse hos virksomheden og den studerende. Ved yderligere spørgsmål vedrørende praktik skal der rettes henvendelse til praktikkoordinatoren.
</p>