<div class="pb-5">
    <h1 class="pb-1" id="" data-key="forside_nyhed_h_3">
        Karrieredag 7. maj 2021
    </h1>
    <p class="text-left" style="font-size: 21px;" style="width: 90%;" data-key="forside_nyhed_p_3_1">
        Fredag den 7. maj 2021 afholdte vi vores første virtuelle karrieredag på tværs af størstedelen af vores uddannelser på Zealand i Næstved.
    </p>
    <p class="text-left" style="font-size: 21px;" style="width: 90%;" data-key="forside_nyhed_p_3_2">
        Karrieredagen havde til formål at samle vores samarbejdspartnere og skabe mere synlighed omkring vores uddannelser og studerende.
        Derudover blev praktikplatformen Zealand Connect præsenteret og den blev taget godt imod af både virksomheder og studerende – skønt!
        Nøgleringen på nedenstående billede er udviklet i FABLAB af Helle Hauskov. Nøgleringen blev sendt ud til alle deltagende virksomheder og studerende, med budskabet ”Join Zealand Connect”. Nøgleringen symboliserer samarbejdet mellem Zealand, de studerende og virksomhederne.
        Udover god stemning og matchmaking mellem de studerende og virksomhederne, var vi så heldige, at Peter Juul Regnergaard, medstifter af virksomheden TRUE GUM, afholdte et inspirerende oplæg. Oplægget satte fokus på innovation, iværksætteri og bæredygtighed.
    </p>
    <p class="text-left" style="font-size: 21px;" style="width: 90%;" data-key="forside_nyhed_p_3_3">
        Tusind tak til de deltagende virksomheder og studerende.
    </p>
    <img src="/images/news-keychain.jpg" style="max-width: 300px">
</div>

<div class="pb-5">
    <h1 class="pb-1" id="" data-key="forside_nyhed_h_1">
        Ny feature på Zealand Connect – modtag nye relevante opslag i din mailboks
    </h1>
    <p class="text-left" style="font-size: 21px;" style="width: 90%;" data-key="forside_nyhed_p_1">
        Som noget nyt på Zealand Connect kan du nu som studerende vælge, hvilke former for opslag du søger på. Du kan vælge
        imellem praktik, studiejob, trainee- og fuldtidsstilling. Hvis du i dit CV sætter flueben i tjekboksen ”få tilsendt
        relevante opslag til din emailadresse”, vil du modtage en email, når der bliver lagt et nyt opslag op, som er
        relevant for dig. Vi tjekker om opslaget matcher med din uddannelse og det, du søger.
    </p>
</div>

<div class="pb-5">
    <h1 class="pb-1" id="" data-key="forside_nyhed_h_2">
        Nu kan du gemme opslag og CV'er i dine foretrukne
    </h1>
    <p class="text-left" style="font-size: 21px;" style="width: 90%;" data-key="forside_nyhed_p_2_html">
        Zealand Connect har nu en funktion til at gemme opslag og CV'er som foretrukne. Virksomheder kan gemme CV'er og
        studerende kan gemme opslag. Man gemmer et CV eller et opslag ved at gå til listen med opslag/CV'er og trykker på
        stjernen <i class="far fa-star"></i> som findes på hvert enkelt opslag/CV. Dine foretrukne kan tilgås ved at
        trykke på dit navn i navigationsbaren og vælge "Mine foretrukne...". På den måde kan du hurtigt finde frem til
        opslag eller CV'er, som du tidligere hare fundet interessante.
    </p>
</div>