{{#each json}}
<div class="card">
    <div class="card-body">
        <h3 id="title" class="card-title">{{title}}</h3>
        <p id="date">{{date}}</p>
        <div id="paragraph-container">
            {{{content}}}
        </div>
        {{#if ../isAdmin}}
            <button class="btn btn-success" onclick="window.location.href='/news/new-post?id={{id}}'">Rediger</button>
            <button class="btn btn-danger">Slet</button>
        {{/if}}
    </div>
</div>
{{/each}}