<nav class="navbar navbar-expand-lg navbar-light container-fluid" id="nv1">
    <a class="navbar-brand" id="zealand-tlf"href="/">Zealand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">        

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-key="aOpslag">
                        Opslag
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOpslag">
                        <a class="dropdown-item" href="/search-cv" data-key="aAlleCVer">Alle CV'er</a>
                        <a class="dropdown-item" href="/search-praktik" data-key="aAllePraktikopslag">Alle opslag</a>
                        <a class="dropdown-item" href="/search-virksomheder" data-key="aAlleVirksomheder">Alle virksomheder</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="flase" data-key="aFaktaOmPraktik">
                        Fakta om praktik
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarOpslag">
                    <a class="dropdown-item"href="/#Til_Virksomheder" data-key="For_virksomheden">Til virksomheden</a>
                    <a class="dropdown-item"href="/#Arbejdstid_og_læringsmål" data-key="Arbejdstid_og_laeringsmaal">Arbejdstid og læringsmål</a>
                    <a class="dropdown-item"href="/#Løn" data-key="Loen">Løn</a>
                    <a class="dropdown-item"href="/#Forsikring" data-key="Forsikring">Forsikring</a>
                    <a class="dropdown-item"href="/#Praktikaftale" data-key="Praktikaftale">Praktikaftale</a>
                    <a class="dropdown-item"href="/#Praktikperiode" data-key="Praktikperiode">Praktikperiode</a>
                    <a class="dropdown-item"href="/#ZealandConnect">ZealandConnect</a>
                </div>
                </li>
                {{> kontakt-nav}}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" id="en" href="/language/en">English</a>
                    <a class="nav-link" id="da" href="/language/da">Dansk</a>
                </li>
                <li class="nav-item dropdown" id="profileDropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdownName" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.navn}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOpslag">
                        <a class="dropdown-item" data-key="aProfil" href="/profil">Profil</a>
                        <a id="praktik" class="dropdown-item" data-key="aMinePraktikOpslag" href="/mine-opslag">Mine opslag</a>
                        <a id="lav_praktik" class="dropdown-item" data-key="aLavPraktikOpslag" href="/internship_post">Lav opslag</a>
                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link" id="logud" href="/login/logout" data-key="aLogud">Log ud</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr id="navbarLine">
