<nav class="navbar navbar navbar-expand-lg container-fluid" id="nv1">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-key="aOpslag">
                        Opslag
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOpslag">
                        <a class="dropdown-item" href="/search-cv" data-key="aAlleCVer">CV'er for studerende</a>
                        <a class="dropdown-item" href="/search-professor-cv" data-key="aAlleCVer">CV'er for adjunkter/lektorer</a>
                        <a class="dropdown-item" href="/search-praktik" data-key="aAllePraktikopslag">Alle opslag</a>
                        <a class="dropdown-item" href="/search-virksomheder" data-key="aAlleVirksomheder">Alle virksomheder</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="flase" data-key="aFaktaOmPraktik">
                        Fakta om praktik
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarOpslag">
                    <a class="dropdown-item"href="/internship-info/#For_studerende" data-key="For_studerende">For den studerende</a>
                    <a class="dropdown-item"href="/internship-info/#Til_Virksomheder" data-key="For_virksomheden">For virksomheden</a>
                    <a class="dropdown-item"href="/internship-info/#Arbejdstid_og_læringsmål" data-key="Arbejdstid_og_laeringsmaal">Arbejdstid og læringsmål</a>
                    <a class="dropdown-item"href="/internship-info/#Løn" data-key="Loen">Løn</a>
                    <a class="dropdown-item"href="/internship-info/#Forsikring" data-key="Forsikring">Forsikring</a>
                    <a class="dropdown-item"href="/internship-info/#Praktikaftale" data-key="Praktikaftale">Praktikaftale</a>
                    <a class="dropdown-item"href="/internship-info/#Praktikperiode" data-key="Loen">Praktikperiode</a>
                    {{!-- <a class="dropdown-item"href="/" data-key="aPraktikkontrakten">Praktikkontrakten</a>
                    <a class="dropdown-item"href="/" data-key="aEvtProblemer">Evt. problemer</a> --}}
                </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-funktioner" data-key="aAdministratorfunktioner">Administratorfunktioner</a>
                </li>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" id="en" href="#" onclick="changeLanguage('en');return false;">English</a>
                    <a class="nav-link" id="da" href="#" onclick="changeLanguage('da');return false;">Dansk</a>
                </li>
                <li class="nav-item dropdown" id="profileDropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdownName" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.fornavn}} {{user.efternavn}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOpslag">
                        <a class="dropdown-item" data-key="aProfil" href="/profil">Profil</a>
                        <a id="cv" class="dropdown-item" data-key="aMitCV" href="/mit-cv">Mit CV</a>
                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link" id="logud" href="/login/logout" data-key="aLogud">Log ud</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr id="navbarLine">
    <script>
        
    </script>