<div class="modal rounded-0" tabindex="-1" role="dialog" id="consentModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0">
            <div id="consentModalHeader" class="modal-header rounded-0 modalHeader">
                <div class="container">
                    <h5 id="consentModalTitle" class="modal-title text-white align-self-center pr-2">Zealand
                        Connect</h5>
                </div>
            </div>
            <div class="modal-body ml-3 mr-3">
                <div class="container">
                    <div class="row">
                        <div class="column">
                            <h1 class="pt-4 pb-4 consent-text" data-key="">Samtykke til behandling af
                                personoplysninger</h1>
                            <h5 class="consent-header">Zealand Connect</h5>
                            <p data-key="">
                                I forbindelse med din oprettelse af bruger på Zealand Connect har vi brug for dit
                                samtykke til, at vi må behandle dine personoplysninger i overensstemmelse med
                                Databeskyttelsesforordningen.
                            </p>
                            <h5 class="consent-header">Projektbeskrivelse</h5>
                            <p> Zealand Connect er en platform, hvor virksomheder har mulighed for at finde
                                praktikstuderende og hvor studerende kan lægge CV op for et match med en virksomhed.
                            </p>
                            <p><a href="https://connect.zealand.dk/">https://connect.zealand.dk/</a></p>

                            <h5 class="consent-header">Dataansvarlig</h5>
                            <p>
                                Zealand, Lyngvej 21, 4600 Køge, CVR nr. 31661471, er Dataansvarlig for behandlingen af
                                dine personoplysninger. For så vidt angår kontakt angående persondataansvaret kan
                                Benjamin Kyhn og Tommy Hansen kontaktes på hhv. bek@easj.dk og tokx@easj.dk.
                            </p>
                            <h5 class="consent-header">Kategorier af personoplysninger der behandles om dig</h5>
                            <p>
                                Vi behandler almindelige personoplysninger i form af navn, mailadresse, mobilnummer samt
                                eventuelle øvrige oplysninger, som du afgiver i dit CV.
                            </p>
                            <h5 class="consent-header">Formål og Behandlingsaktiviteter</h5>
                            <p>
                                Dine personoplysninger behandles med det formål at give virksomheder mulighed for at
                                finde egnede praktikstuderende, og for at du kan finde en praktikplads.
                            </p>
                            <h5 class="consent-header">Eventuelle modtagere eller kategorier af modtagere af personoplysningerne</h5>
                            <p>
                                Dine personoplysninger bliver offentliggjort på https://connect.zealand.dk/ og bliver
                                lagt frit tilgængelige for virksomheder, medstuderende, andre interessenter mv. Der er
                                ikke tale om et lukket forum.
                            </p>
                            <h5 class="consent-header">Overførsel til Tredjeland eller International Organisation</h5>
                            <p>Vi overfører ikke dine personoplysninger til nogen uden for EU/EØS.></p>

                            <h5 class="consent-header">Opbevaringstid</h5>
                            <p>Vi opbevarer dine personoplysninger et år fra sidste logindato og så længe, du har
                                accepteret dette samtykke.</p>
                            <h5 class="consent-header">Mulighed for at trække samtykke tilbage</h5>
                            <p>
                                Deltagelse er frivilligt og du kan til enhver tid trække dit samtykke til behandling af
                                personoplysninger tilbage. Dette kan ske ved at kontakte Benjamin Kyhn på bekx@easj.dk
                                eller Tommy Hansen på tokx@easj.dk. Du kan også til enhver tid slette dine oplysninger
                                og CV ved at logge ind på Zealand Connect. Hvis du tilbagetrækker dit samtykke får det
                                først virkning fra dette tidspunkt og påvirker ikke lovligheden af vores behandling op
                                til dette tidspunkt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <form id="formDataConsent" action="" method="POST">
                <div class="modal-footer rounded-0 ml-3 mr-3">
                    <div class="container">
                        <div class="row align-self-center">
                            <div class="col-10">
                                <div class="form-group pr-2 m-0">
                                    <input id="necessary" class="form-check-input" type="checkbox">
                                    <label class="consent-text" for="necessary" data-key="Noedvendige_cookies_title">
                                        Jeg bekræfter at have læst og forstået Zealand Connects
                                        samtykkeerklæring om personoplysninger,
                                        som baggrund for mit samtykke til behandling af mine personoplysninger til
                                        ovennævnte formål.
                                    </label>
                                </div>
                            </div>
                            <div class="col-2 align-self-center">
                                <div class="row justify-content-end">
                                    <button type="button" class="btn btn-success consent-text" data-dismiss="modal"
                                            data-key="Bekraeft">Bekræft
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>