<div class="modal rounded-0" tabindex="-1" role="dialog" id="companyConsentModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0">
            <div id="companyConsentModalHeader" class="modal-header rounded-0 modalHeader">
                <div class="container">
                    <h5 id="companyConsentModalTitle" class="modal-title text-white align-self-center pr-2">Zealand
                        Connect</h5>
                </div>
            </div>
            <div class="modal-body ml-3 mr-3">
                <div class="container">
                    <div class="row">
                        <div class="column">
                            <h1 class="pt-4 pb-4 consent-text" data-key="data_consent_title">Samtykke til behandling af
                                personoplysninger</h1>
                            <h5 class="consent-header" data-key="data_consent_header1">Zealand Connect</h5>
                            <p data-key="data_consent_paragraph1">
                                I forbindelse med din oprettelse af en virksomhedsbrugerprofil på Zealand Connect har vi
                                brug for dit samtykke til, at vi må behandle dine personoplysninger i overensstemmelse
                                med Databeskyttelsesforordningen.
                            </p>
                            <h5 class="consent-header" data-key="data_consent_header2">Projektbeskrivelse</h5>
                            <p data-key="data_consent_paragraph2">Zealand Connect er en platform, hvor virksomheder har mulighed for at finde
                                praktikstuderende og hvor studerende kan lægge CV op for et match med en virksomhed.
                            </p>
                            <p><a href="https://connect.zealand.dk/">https://connect.zealand.dk/</a></p>

                            <h5 class="consent-header" data-key="data_consent_header3">Dataansvarlig</h5>
                            <p data-key="data_consent_paragraph3">
                                Zealand, Lyngvej 21, 4600 Køge, CVR nr. 31661471, er Dataansvarlig for behandlingen af
                                dine personoplysninger. For så vidt angår kontakt angående persondataansvaret kan
                                Benjamin Kyhn og Tommy Hansen kontaktes på hhv. bek@easj.dk og tokx@easj.dk.
                            </p>
                            <h5 class="consent-header" data-key="data_consent_header4">Kategorier af personoplysninger der behandles om dig</h5>
                            <p data-key="company_consent_paragraph4">
                                Vi behandler almindelige personoplysninger i form af navn, mailadresse, mobilnummer samt
                                eventuelle øvrige oplysninger, som du afgiver.
                            </p>
                            <h5 class="consent-header" data-key="data_consent_header5">Formål og Behandlingsaktiviteter</h5>
                            <p data-key="company_consent_paragraph5">
                                Personoplysningerne behandles med det en formål at finde egnede studerende til praktik i
                                virksomheden.
                            </p>
                            <h5 class="consent-header" data-key="data_consent_header6">Eventuelle modtagere eller kategorier af modtagere af personoplysningerne</h5>
                            <p data-key="company_consent_paragraph6">
                                Oplysningerne du afgiver bliver offentliggjort på https://connect.zealand.dk/ og bliver
                                lagt frit tilgængelige for virksomheder, studerende, andre interessenter mv. Der er
                                ikke tale om et lukket forum.
                            </p>
                            <h5 class="consent-header" data-key="data_consent_header7">Overførsel til Tredjeland eller International Organisation</h5>
                            <p data-key="data_consent_paragraph7">Vi overfører ikke dine personoplysninger til nogen uden for EU/EØS.</p>

                            <h5 class="consent-header" data-key="data_consent_header8">Opbevaringstid</h5>
                            <p data-key="data_consent_paragraph8">Vi opbevarer dine personoplysninger et år fra sidste logindato og så længe, du har
                                accepteret dette samtykke.</p>
                            <h5 class="consent-header" data-key="data_consent_header9">Mulighed for at trække samtykke tilbage</h5>
                            <p data-key="data_consent_paragraph9">
                                Deltagelse er frivilligt og du kan til enhver tid trække dit samtykke til behandling af
                                personoplysninger tilbage. Dette kan ske ved at kontakte Benjamin Kyhn på bekx@easj.dk
                                eller Tommy Hansen på tokx@easj.dk. Du kan også til enhver tid slette dine oplysninger
                                og CV ved at logge ind på Zealand Connect. Hvis du tilbagetrækker dit samtykke får det
                                først virkning fra dette tidspunkt og påvirker ikke lovligheden af vores behandling op
                                til dette tidspunkt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <form id="formDataCompanyConsent" action="/data-consent" method="POST">
                <div class="modal-footer rounded-0 ml-3 mr-3">
                    <div class="container">
                        <div class="row align-self-center">
                            <div class="col-10">
                                <div class="form-group pr-2 m-0">
                                    <input
                                            id="companyConsent"
                                            class="form-check-input"
                                            type="checkbox"
                                            name="companyConsent"
                                            onchange="checkCompanyConsent()"
                                    >
                                    <label class="consent-text" for="companyConsent" data-key="bekraeft_samtykke">
                                        Jeg bekræfter at have læst og forstået Zealand Connects
                                        samtykkeerklæring om personoplysninger,
                                        som baggrund for mit samtykke til behandling af mine personoplysninger til
                                        ovennævnte formål.
                                    </label>
                                </div>
                            </div>
                            <div class="col-2 align-self-center">
                                <div class="row justify-content-end">
                                    {{#if isCompany}}
                                        <button
                                                id="companyConsentButton"
                                                type="button"
                                                class="btn stdBtn gulKnap"
                                                data-key="Bekraeft"
                                                onclick="submitCompanyConsent()"
                                                data-dismiss="modal"
                                                disabled
                                        >Bekræft
                                        </button>
                                        <a class="btn stdBtn gulKnap" id="logud" href="/login/logout" data-key="aLogud">Log
                                            ud</a>
                                    {{else}}
                                        <a class="btn stdBtn gulKnap" id="" data-dismiss="modal" data-key="Luk">Luk</a>
                                    {{/if}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function submitCompanyConsent() {
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/data-consent/company', true);
        xhr.setRequestHeader('Content-type', 'text/plain');
        xhr.send(document.getElementById('companyConsent').checked);
    }

    function checkCompanyConsent() {
        let consentCheckbox = document.getElementById("companyConsent");
        let companyConsentCheckbox = document.getElementById("companyConsentCreate");
        let consentButton = document.getElementById("companyConsentButton");
        let createCompanyButton = document.getElementById("submitBtn");

        if (consentButton) {
            consentButton.disabled = !consentCheckbox.checked;
        }
        if (createCompanyButton) {
            createCompanyButton.disabled = !consentCheckbox.checked;
            companyConsentCheckbox.checked = consentCheckbox.checked;
        }
    }
</script>