/*
 OBS: Vi har nu 4 forskellige skærmstørrelser så du skal
 sikre dig, at du skriver dine css regler ind i den
 rigtige media query.

 Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap
 */


body {
  font: 14px "Zichtbaar", Helvetica, Arial, sans-serif;
}

.container-fluid {
  width: 100%;
}

h1,
.sidebar {
  font-family: "Zealand Display", Arial, Helvetica, sans-serif;
  font-variant-ligatures: contextual;
  font-feature-settings: "calt";
  font-size: 48px;
}


a {
  color: #00B7FF;
}


label {
  font-size: 14px;
}

input::placeholder {
  font-weight: 400;
  font-size: 13px;
}

.sidebar {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vh;
  height: 80px;
  padding: 0px 30px;
  background-color: #faee84;
  transform: translate(80px, 0px) rotate(90deg);
  transform-origin: top left;
  left: 0;
  top: 0;
  font-size: 36px;
  line-height: 36px;
}

#editor {
  min-height: 250px;
}

.btn {
  border-radius: 0;
}

.btn-success,
.btn-success:hover {
  background-color: #faee84;
  color: black;
  border-color: #faee84;
}

.btn-danger,
.btn-danger:hover {
  background-color: black;
  color: #faee84;
  border-color: black;
}

.btn-dark {
  background-color: #faee84;
  color: black;
  border-color: #faee84;
}

.form-group.required>label:after {
  content: " *";
  color: red;
}

.CV-OffentligCheckBox {
  margin-left: 30px;
  margin-bottom: 10px;
}

.CVErrorColor {
  color: red;
}

#loginBoxBackground {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#cookieBox {
  margin-top: 10px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#virksomhedslogodiv {
  height: 16rem; 
  width: 16rem;
  object-fit: scale-down;
  border-radius: 8px; 
  margin-left: 10rem;
}
#logodiv {
  padding-top: 1rem;
  height: 20rem;
}

#virksomhedsbeskrivelse {
  width: 16rem;
  height: 8rem;
}
#dokumenterhertil a {
  color: #000000;
  font-weight: bold;
  padding-bottom: 1rem;
  text-decoration: underline;

}

#zealandLogo {
  margin-top: 15px;
  margin-bottom: 35px;
}

#loginContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 20px 30px 20px;
  background-color: #f7f7f7;
}

#redigerVirksomhedContent {
  padding: 30px 300px 30px 300px;
  background-color: #f7f7f7;
  min-width: 678px;
}

.radioBtnBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.loginBtnBox {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 339px;
}

#easjLoginKnap {
  background-color: rgb(255, 255, 255);
  height: 43.75px;
  width: 320px;
  background-color: #FFF387;
  margin-bottom: 16px;
  border: transparent;
}


#easjLoginKnap img {
  width: auto !important;
  height: 26px;
}

#loginForm {
  display: none;
}

#opretBrugerKnapVedLogin {
  display: none;
}

#opretBrugerLabelVedLogin {
  display: none;
}

#loginForm .form-control {
  width: 339px;
}

#virksomhedOpret {
  display: block;
}

#virksomhedOpret .form-control {
  width: 339px;
}

#uddanelse-dropdown {
  width: 100%;
}

#centerP {
  text-align: center;
  margin-top: 12px;
  font-size: medium;
}

.google-div {
  display: flex;
  justify-content: center;
  align-items: center;

}

.google-btn {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #0079d3;
  color: #0079d3;
  align-content: center;
  font-size: 18px;

}

.google-img {
  padding-right: 10px;
  background-color: #fff;
  width: 46px;
  height: 32px;
}

.radioBtnBox .radioButton {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.buttonText {
  margin-top: 5px;
  margin-left: 5px;
}

.gulKnap {
  width: 100%;
  height: 39px;
  border: transparent;
  background-color: #FFF387;
  margin-top: 10px;
}

#questionMarkButton {
  border: none;
  background-color: transparent;
  width: 15px;
  padding: 0;
  margin-left: 5px;
}

#questionMarkButton img {
  width: 100%;
  height: auto;
}

#cvOverskrift {
  padding-top: 16px;
}

.center-cropped {
  width: 180px;
  height: 180px;
}

#dropdownUddannelser {
  transform: rotate(-90deg);
  animation-name: rotateto;
  animation-duration: 250ms;
}

#dropdownUddannelserRotated {
  transform: rotate(0deg);
  animation-name: rotateback;
  animation-duration: 250ms;

}

@keyframes rotateto {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-90deg);
  }
}

@keyframes rotateback {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(0deg);
  }
}

#dropdownLand {
  transform: rotate(-90deg);
  animation-name: rotateto;
  animation-duration: 250ms;
}

#dropdownLandRotated {
  transform: rotate(0deg);
  animation-name: rotateback;
  animation-duration: 250ms;
}

#filtrerUddannelser {
  color: black;
}

#filtrerIndlandUdland {
  color: black;
}



#forside1 {
  /* Find løsning til mobil!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  width: 1920px;
  /* Make this site really wide */
  overflow: hidden;
  /* Hide scrollbars */


}

#nv1 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(250, 238, 132, 0);
  margin-left: 80px;
  font-size: 21px;
  display: none;
}

#navbarLine {
  display: none;
}

.navbar-nav li a {
  font-weight: 400;
  color: #000000;
}

.navbar-brand {
  font-size: 36px;
  color: #000000;
}

#loginBoks {
  background-color: white;
  height: 100vh;
  padding: 75px;
}

#loginBoks h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
}

#gulBaggrund {
  background-color: #FFF387;
  height: 100vh;
  display: none;
}

#logPaa {
  border: transparent;
  margin-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#linksHelp {
  position: absolute;
  bottom: 20px;
}

.bottomLink {
  margin-right: 10px;
  color: black;
  font-size: 12px;
}

.navbar-brand:hover {
  color: #000000;
}

.autobreak {
  word-break: break-all;
}

.loginBtnBox .formError {
  color: red;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sidebar {
    display: flex;
  }

  .container-fluid {
    width: calc(100% - 80px);
    margin-left: 80px;
  }

  .card-columns {
    column-count: 2;
  }

  #loginBoxBackground {
    margin-top: 100px;
  }

  #gulBaggrund {
    display: flex;
  }

  #nv1 {
    display: flex;
  }

  #navbarLine {
    display: flex;
    background-color: black;
    margin-top: 0px;
    margin-right: 24px;
    margin-left: 96px
  }
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #loginContent {
    padding: 30px 200px 30px 200px;
    min-width: 339px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #loginContent {
    padding: 30px 300px 30px 300px;
    min-width: 339px;
  }
}

/* styling for viewpost table in view_post.hbs */
#viewpostTable tr td {
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  font-size: medium;
}

#companyLogo {
  margin-top: 8.5px;
}

#forsideText{
  
}

#forsideLine{
  margin-top: 10px;
  background-color: #000000;
  margin-left: 10%;
  margin-right: 10%;
}