/*
 OBS: Vi har nu 4 forskellige skærmstørrelser så du skal
 sikre dig, at du skriver dine css regler ind i den
 rigtige media query.

 Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap
 */


body {
  font: 14px "Zichtbaar", Helvetica, Arial, sans-serif;
}

.container-fluid {
  width: 100%;
}

h1, .sidebar {
  font-family: "Zealand Display", Arial, Helvetica, sans-serif;
  font-variant-ligatures: contextual;
  font-feature-settings: "calt";
  font-size: 48px;
}


a {
  color: #00B7FF;
}


label {
  font-size: 14px;
}

input::placeholder {
  font-weight: 400;
  font-size: 13px;
}

.sidebar {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vh;
  height: 80px;
  padding: 0px 30px;
  background-color: #faee84;
  transform: translate(80px, 0px) rotate(90deg) ;
  transform-origin: top left;
  left: 0;
  top: 0;
  font-size: 36px;
  line-height: 36px;
}

#editor {
  min-height: 250px;
}

.btn {
  border-radius: 0;
}

.btn-success, .btn-success:hover {
  background-color: #faee84;
  color: black;
  border-color: #faee84;
}

.btn-danger, .btn-danger:hover {
  background-color: black;
  color: #faee84;
  border-color: black;
}

.form-group.required > label:after {
  content:" *";
  color:red;
}

.CV-OffentligCheckBox{
  margin-left: 30px;
  margin-bottom: 10px;
}

.CVErrorColor{
  color: red;
}

#loginBoxBackground {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#cookieBox {
  margin-top: 20px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#zealandLogo {
  margin-top: 15px;
  margin-bottom: 35px;
}

#loginContent {
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 300px 30px 300px;
  background-color: #f7f7f7;
  min-width: 339px;
}

.radioBtnBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.loginBtnBox {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 339px;
}

#easjLoginKnap {
  background-color:rgb(255, 255, 255);
  height: 43.75px;
  width: 320px;
  background-color: #FFF387;
  margin-bottom: 16px;
  border: transparent;
}


#easjLoginKnap img {
  width: auto!important;
  height: 26px;
}

#loginForm {
  display: none;
}

#loginForm .form-control {
  width: 339px;
}
#virksomhedOpret {
  display: block;
}
#virksomhedOpret .form-control {
  width: 339px;
}
#uddanelse-dropdown {
  width: 100%;
}
#centerP {
  text-align: center;
  margin-top: 12px;
  font-size: medium;
}

.google-div {
  display: flex;
  justify-content: center;
  align-items: center;

}
.google-btn {
  width: 100%;
 padding-top: 12px;
 padding-bottom: 12px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #0079d3;
  color: #0079d3;
  align-content: center;
  font-size: 18px;

}
.google-img {
  padding-right: 10px;
  background-color: #fff;
  width: 46px;
  height: 32px;
}


#tab1:active {
}

#tab2:active {
}

.radioBtnBox .radioButton {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.buttonText {
  margin-top: 5px;
  margin-left: 5px;
}

.gulKnap {
  width: 100%;
  height: 39px;
  border: transparent;
  background-color: #FFF387;
  margin-top: 10px;
}

#questionMarkButton {
  border: none;
  background-color: transparent;
  width: 15px;
  padding: 0;
  margin-left: 5px;
}

#questionMarkButton img {
  width: 100%;
  height: auto;
}

#cvOverskrift {
  padding-top: 16px;
}

.center-cropped {
  width: 180px;
  height: 180px;
}

#filtrerUddannelser {
  color: black;
}
#forside1{
  /* Find løsning til mobil!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  width: 1920px; /* Make this site really wide */
  overflow: hidden; /* Hide scrollbars */


}
#nv1{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #faee84;
  margin-left: 80px;
  font-size: 21px;
}
.navbar-nav li a{
  font-weight: 400;
    color: #000000;
}
.navbar-brand{
  font-size: 36px;
  color: #000000;
}

#loginBoks {
  background-color: white;
  height: 100vh;
  padding: 75px;
}

#loginBoks h1{
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 50px;
}

#gulBaggrund {
  background-color: #FFF387;
  height: 100vh;
  display: none;
}

#logPaa {
 border: transparent;
 margin-bottom: 30px;
 padding-left: 25px;
 padding-right: 25px;
 font-family: Arial, Helvetica, sans-serif;
}

#linksHelp {
  position: absolute;
  bottom: 20px;
}

.bottomLink {
  margin-right: 10px;
  color: black;
  font-size: 12px;
}
.navbar-brand:hover{
  color: #000000;
}

#cl1{
  margin-left: 80px;
  
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sidebar {
    display: flex;
  }

  .container-fluid {
    width: calc(100% - 80px);
    margin-left: 80px;
  }

  #loginBoxBackground {
    margin-top: 100px;
  }

  #gulBaggrund {
    display: flex;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


