<div class="container-fluid">
    <div class="row">
        <h1 style="padding-left: 16px;" data-key="adminFunktion">Administrator funktioner</h1>
    </div>
    <div class="row justify-content-center " style="padding-left: 16px;padding-right: 22px;">
        <div class="col-6" style="border-right-style: solid; border-width: 1px;">
            <div class="row p-3">
                <h2 style="font-weight: bold;" data-key="opretUddannelse">Opret Uddannelse</h2>
            </div>
            <form action="" class="form-group text-left">
                <div class="row">
                    <label for="opretUddannelse" class="col-5 col-form-label">Uddannelse</label>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <input type="text" id="uddannelseOpretInput" class="form-control" placeholder="Uddannelse eksempel" style="background-color: #f7f7f7;">
                    </div>
                </div>
                <button class="gulKnap rounded" type="button" id="opretUddannelse-btn" data-key="opret">Opret</button>
                
            </form>
            <div class="row p-3">
                <h2 style="font-weight: bold;" data-key="sletUddannelse">Slet Uddanelse</h2>
            </div>
            <form action="" class="form-group text-left">
                <div class="row">
                    <label for="opretUddannelse" class="col-5 col-form-label" data-key="uddannelse">Uddannelse</label>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <input id="uddannelseSletInput" type="text" class="form-control" placeholder="Uddannelse eksempel" style="background-color: #f7f7f7;">
                    </div>
                </div>
                    <button class="gulKnap rounded" type="button" id="sletUddannelse-btn" data-key="slet">Slet</button>
            </form>
        </div>
        <div class="col-6">
            <div class="row p-3">
                <h2 style="font-weight: bold;" data-key="sletBruger">Slet bruger</h2>
            </div>
            <form class="form-group text-left" onsubmit="return false">
                <div class="row">
                    <label for="email" class="col-5 col-form-label">Email</label>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <input name="email" type="text" id="brugerSletInput" class="form-control" placeholder="example@edu.easj.dk" style="background-color: #f7f7f7;" required oninvalid="this.setCustomValidity('Feltet må ikke være tomt')" oninput="this.setCustomValidity('')">
                    </div> 
                </div>
                <input class="gulKnap rounded" onclick="submitCheck()" type="submit" data-key="slet">Slet</input>
                <input id="submit_handle" type="submit" style="display: none">
            </form>
        </div>
    </div>
</div>
<script>
        var backendIsProcessing = false;
        function submitCheck() {
            $('#submit_handle').click();
            //kun hvis alle felter er udfylte sender vi videre til backend validering
            if(document.getElementById("brugerSletInput").validity.valid){
                if(!backendIsProcessing){
                    backendIsProcessing = true;
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) { // hvis brugeren ikke er logget ind, så returnere kaldet undefined eller en email
                            let responseObject = JSON.parse(this.responseText)
                            console.log(responseObject)
                            //document.getElementById('emailError').innerHTML = responseObject.EmailError;
                            backendIsProcessing=false;
                            //if there were no errors, then begin automatic login and redirect to profile
                        }
                    }
                    xhttp.open("POST", "/admin-funktioner/slet-bruger", true);
                    xhttp.setRequestHeader("Content-Type", "text/plain")
                    xhttp.send(JSON.stringify ({
                        email: document.getElementById('brugerSletInput').value
                    }));
                }
            }
        };
    </script>
