<div class="container-fluid">
    <h1 class="pb-2" data-key="cookie_politik_title">
        Cookies
    </h1>
    <div class="row">
        <div class="col-md-6 col-12 mr-4 mt-4 mb-4" style="border-right: 1px solid black">
            <h2 data-key="cookie_politik_header1" style="font-weight: bold">
                Hvilke cookies bruger vi?
            </h2>
            <p data-key="cookie_politik_paragraph1">
                Her er en oversigt over de cookies, vores hjemmeside kan finde på at lagre på din computer,
                samt info om hvordan du vælger dem fra eller sletter dem.
            </p>
            <h5 class="consent-header" data-key="cookie_politik_header2">Samtykke til cookies</h5>
            <p data-key="cookie_politik_paragraph2">
                Når du accepterer vores cookie-politik, så gemmes dit samtykke også i en cookie.
                Denne cookie udløber efter 30 dage.
            </p>
            <h5 class="consent-header" data-key="cookie_politik_header3">Sprogindstillinger</h5>
            <p data-key="cookie_politik_paragraph3">
                Vi bruger cookies til at styre dine sprogindstillinger. Du kan derfor ikke skifte sprog
                uden at acceptere præference-cookies. Disse cookies udløber efter 30 dage.
            </p>
            <h5 class="consent-header" data-key="cookie_politik_header4">Session-cookies</h5>
            <p data-key="cookie_politik_paragraph4">
                Når du logger ind får du en cookie med sessiondata. Dette betyder at du ikke bliver logget ud når du
                forlader siden.
                Denne cookie er nødvendig for at siden kan fungere og udløber efter 2 timer.
            </p>
            <h5 class="consent-header" data-key="cookie_politik_header5">Lagring af cookies</h5>
            <p data-key="cookie_politik_paragraph5">
                Vi gemmer ikke cookies i vores database. Din browser gemmer cookies indtil de udløber eller du sletter
                dem.
            </p>
            <h2 class="consent-header" data-key="cookie_politik_header6">Yderligere info</h2>
            <h5 class="consent-header" data-key="cookie_politik_header7">Dette website udbydes af:</h5>
            <p data-key="cookie_politik_paragraph6">
                Zealand <br>
                Sjællands Erhvervsakademi <br>
                Campusbuen 23 <br>
                4600 Køge <br>
                Telefon: 50 76 26 00 <br>
                Email: zealand@zealand.dk <br>
            </p>
            <h5 class="consent-header" data-key="cookie_politik_header8">Cookie-bekendtgørelsen</h5>
            <p data-key="cookie_politik_paragraph7">
                Alle danske hjemmesider er forpligtet til at informere om, hvilke cookies der afsættes på brugerens
                udstyr.
                Informationen skal være i overensstemmelse med ”Bekendtgørelse om krav til information
                og samtykke ved lagring af og adgang til oplysninger i slutbrugeres terminaludstyr”.
            </p>
            <p class="mb-5" data-key="cookie_politik_paragraph8_html">Bekendtgørelsen stiller krav om, at der skal
                indhentes et informeret samtykke fra brugeren, når hjemmesider ønsker at lagre cookies på brugerens
                it-udstyr.
                Læs om ”Cookie-bekendtgørelsen”: <a href="http://erhvervsstyrelsen.dk/cookies">http://erhvervsstyrelsen.dk/cookies</a>
            </p>
        </div>
        <div id="cookie-accordions" class="col-md-6 col-12 mb-4 mt-4 mr-5">

            <h5 class="mb-5">Generel information</h5>
            <div class="cookie-accordion-div">
                <button class="cookie-accordion">
                    <span>Hvad er cookies?</span>
                    <img src="images/chevron-down.svg" width="12" height="12" class="accordion-image ml-5">
                </button>
                <div class="cookie-panel">
                    <p>En cookie er en lille tekstfil, der lagres i din browser for at kunne genkende din computer ved
                        tilbagevendende besøg. Der er ingen personlige oplysninger gemt i vores cookies, og de kan ikke
                        indeholde virus.</p>
                    <p style="margin: 0">Når du besøger Zealands hjemmesider, vil din computer automatisk få en eller flere cookies.</p>
                </div>
            </div>

            <div class="cookie-accordion-div">
                <button class="cookie-accordion">
                    <span>Hvor længe opbevares cookies på min computer?</span>
                    <img src="images/chevron-down.svg" width="12" height="12" class="accordion-image ml-5"></button>
                <div class="cookie-panel">
                    <p style="margin: 0">Cookies sletter sig selv efter et vist antal måneder. Det kan variere efter type,
                        hvor lang tid der går. De fornys dog efter hvert besøg. Du kan til enhver tid selv slette cookies
                        på din computer.</p>
                </div>
            </div>

            <div class="cookie-accordion-div">
                <button class="cookie-accordion">
                    <span>Sådan undgår/sletter du cookies</span>
                    <img src="images/chevron-down.svg" width="12" height="12" class="accordion-image ml-5">
                </button>
                <div class="cookie-panel">
                    <p>Hvis du ikke ønsker at lagre cookies på din computer, har du mulighed for at få
                        en vejledning om, hvordan du – helt eller delvist – undgår at modtage og slette de cookies, der
                        ligger på din harddisk.</p>
                    <p>Sådan sletter du dine cookies:</p>
                    <ul>
                        <li>
                            <a href="http://support.microsoft.com/kb/278835">Slet cookies i Internet Explorer</a>
                        </li>
                        <li>
                            <a href="http://support.mozilla.org/da/kb/delete-cookies-remove-info-websites-stored?redirectlocale=en-US&redirectslug=Deleting+cookies">Slet cookies i Mozilla Firefox (på engelsk)</a>
                        </li>
                        <li>
                            <a href="http://support.google.com/chrome/answer/95647?hl=da">Slet cookies i Google Chrome</a>
                        </li>
                        <li>
                            <a href="https://support.apple.com/da-dk/guide/safari/sfri47acf5d6/mac">Slet cookies i Safari</a>
                        </li>
                        <li>
                            <a href="http://help.opera.com/Mac/11.60/en/cookies.html">Slet cookies i Opera (på engelsk)</a>
                        </li>
                        <li>
                            <a href="https://support.apple.com/da-dk/HT201265">Slet cookies på iPad, iPhone eller iPod touch</a>
                        </li>
                        <li>
                            <a href="http://timeread.hubpages.com/hub/How-to-delete-internet-cookies-on-your-Droid-or-any-Android-device">Slet cookies på Android mobil (på engelsk)</a>
                        </li>
                        <li>
                            <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html">Slet flash cookies (på engelsk, gælder alle browsere)</a>
                        </li>
                    </ul>
                    <p style="margin: 0">Benytter du en browser, som ikke er listet ovenfor, skal du finde vejledningen
                        i den pågældende browsers hjælpe-sektion. Hvis du ikke ønsker at modtage cookies, kan du blokere
                        dem.</p>
                </div>
            </div>
            <h5 class="mt-5">Persondatapolitik</h5>
            <a href="https://www.zealand.dk/persondatapolitik/">Læs Zealands persondatapolitik her</a>
        </div>
    </div>
</div>

<script>
    let acc = document.getElementsByClassName("cookie-accordion");
    let i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active-cookie-accordion");
            let panel = this.nextElementSibling;
            let chevron = this.children[1];
            if (panel.style.display === "block") {
                panel.style.display = "none";
                chevron.classList.remove("chevron-white")
            } else {
                panel.style.display = "block";
                chevron.classList.add("chevron-white")
            }
        });
    }
</script>