<div class="container-fluid">
    <div class="col-md-6 col-12">
        <h1 class="pt-4 pb-2" data-key="cookie_politik_title">
            Cookies
        </h1>
        <h2 class="consent-header">
            Hvilke cookies bruger vi?
        </h2>
        <p>
            Her er en oversigt over de cookies, vores hjemmeside kan finde på at lagre på din computer, 
            samt info om hvordan du vælger dem fra eller sletter dem.
        </p>
        <h5 class="consent-header" data-key="data_consent_header1">Samtykke til cookies</h5>
        <p data-key="data_consent_paragraph1">
            Når du accepterer vores cookie-politik, så gemmes dit samtykke også i en cookie.
            Denne cookie udløber efter 30 dage.
        </p>
        <h5 class="consent-header" data-key="data_consent_header1">Sprogindstillinger</h5>
        <p data-key="data_consent_paragraph1">
            Vi bruger cookies til at styre dine sprogindstillinger. Du kan derfor ikke skifte sprog
            uden at acceptere præference-cookies. Disse cookies udløber efter 30 dage.
        </p>
        <h5 class="consent-header" data-key="data_consent_header2">Session-cookies</h5>
        <p data-key="data_consent_paragraph2"> 
            Når du logger ind får du en cookie med sessiondata. Dette betyder at du ikke bliver logget ud når du forlader siden.
            Denne cookie er nødvendig for at siden kan fungere og udløber efter 2 timer.
        </p>
        <h5 class="consent-header" data-key="data_consent_header2">Lagring af cookies</h5>
        <p data-key="data_consent_paragraph2"> 
            Vi gemmer ikke cookies i vores database. Din browser gemmer cookies indtil de udløber eller du sletter dem. 
        </p>
    </div>

</div>