<div class="container-fluid ">
    <div class="row mt-4 mb-4">
        <div class="col-2">
            <img class="img-thumbnail" src="https://scontent-cph2-1.xx.fbcdn.net/v/t1.0-9/15622277_133495013807245_4440882366430266501_n.jpg?_nc_cat=104&ccb=2&_nc_sid=09cbfe&_nc_ohc=qdTnyjQKcIoAX_6zPeu&_nc_ht=scontent-cph2-1.xx&oh=73d7a059f07e9fb365a469a7f7893cfe&oe=5FD152F4" alt="PROFILBILLEDE">
        </div>
        <div class="col">
            <div class="col">
                <h2 class="mb-3">
                    Navn Navnesen
                </h2>
                <h6 class="mb-3">
                    email@email.email
                </h6>
                <h6 class="mb-3">
                    22222222
                </h6>
                <a href="https://www.hjemmeside.dk">
                    <h6 class="mb-3">
                        hjemmeside.dk
                    </h6>
                </a>
                <a href="https://www.linkedin.com/">
                    <h6 class="mb-3">
                        linkedIn.com
                    </h6>
                </a>
            </div>
        </div>
        
    </div>
    <hr>

    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h3 class="mb-3 mt-2 d-flex align-self-center">
                Om mig
            </h3>
            <!--<hr class="mb-2 mt-0">-->
            <p>
                Her er lidt om mig
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h3 class="mb-3 mt-2 d-flex align-self-center">
                Hvad jeg søger
            </h3>
            <p>
                Jeg søger en god løn
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h3 class="mb-3 mt-2 d-flex align-self-center">
                Erfaring
            </h3>
            <p>
                lidt erfaring
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h3 class="mb-3 mt-2 d-flex align-self-center">
                Uddannelse
            </h3>
            <p>
                Datamatiker
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h3 class="mb-3 mt-2 d-flex align-self-center">
                Speciale
            </h3>
            <p>
                jeg har speciele i it sikkerhed
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h3 class="mb-3 mt-2 d-flex align-self-center">
                Tidligere uddannelse
            </h3>
            <p>
                Folkeskole
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h3 class="mb-3 mt-2 d-flex align-self-center">
                Udenlandsophold og frivilligt arbejde   
            </h3>
            <p>
                Arbejdet som frivillig i røde kors næstved
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h3 class="mb-3 mt-2 d-flex align-self-center">
                Fritidsinteresser
            </h3>
            <p>
                Bowling
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h3 class="mb-3 mt-2 d-flex align-self-center">
                It-kompetencer   
            </h3>
            <p>
                god til paint
            </p>
        </div>
    </div>
    <div class="row border rounded ml-1 mr-1 mb-4">
        <div class="col mb-2">
            <h3 class="mb-3 mt-2 d-flex align-self-center">
                Sprog   
            </h3>
            <p>
                Dansk
            </p>
        </div>
    </div>

</div>