<div class="container-fluid">
    <div class="row mt-4 mb-4">
        <div class="col-1">
            <img src=":)" alt="PROFILBILLEDE">
        </div>
        <div class="col">
            <div class="col">
                <h2 class="">
                    Navn Navnesen
                </h2>
                <h6 class="">
                    email@email.email
                </h6>
                <h6 class="">
                    22222222
                </h6>
                <a href="https://www.hjemmeside.dk">
                    <h6>
                        hjemmeside.dk
                    </h6>
                </a>
                <a href="https://www.linkedin.com/">
                    <h6>
                        linkedIn.com
                    </h6>
                </a>
            </div>
        </div>
        
    </div>
    <hr>

    <div class="row">
        <div class="col mb-4">
            <h3 class="mb-3">
                Om mig
            </h3>
            <p>
                Her er lidt om mig
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <h3 class="mb-3">
                Hvad jeg søger
            </h3>
            <p>
                Jeg søger en god løn
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <h3 class="mb-3">
                Erfaring
            </h3>
            <p>
                lidt erfaring
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <h3 class="mb-3">
                Uddannelse
            </h3>
            <p>
                Datamatiker
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <h3 class="mb-3">
                Speciale
            </h3>
            <p>
                jeg har speciele i it sikkerhed
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <h3 class="mb-3">
                Tidligere uddannelse
            </h3>
            <p>
                Folkeskole
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <h3 class="mb-3">
                Udenlandsophold og frivilligt arbejde   
            </h3>
            <p>
                Arbejdet som frivillig i røde kors næstved
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <h3 class="mb-3">
                Fritidsinteresser
            </h3>
            <p>
                Bowling
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <h3 class="mb-3">
                It-kompetencer   
            </h3>
            <p>
                god til paint
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <h3 class="mb-3">
                Sprog   
            </h3>
            <p>
                Dnaks
            </p>
        </div>
    </div>

</div>