<div class="container-fluid">
    <h1>Mine favoritter</h1>
    <p>Her finder du en liste over opslag, som du har sat til favorit.</p>
    <div id="cards">
        {{> search-praktik-card}}
    </div>
</div>