<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>
                Glemt password
            </h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-9 col-md-4">
            <form method="POST" action="/forgot-password" id="emailForm">
                <div class="form-group">
                    <label
                            for="email"
                            data-key="Email_label"
                    >Indtast email og en mail vil blive sendt til at nulstille kodeordet.</label>
                    <input type="email" id="email" name="email" class="form-control">
                    <p id="emailError" class="CVErrorColor" hidden="true" data-key="Mail_error">Mail er
                        ikke
                        gyldig</p>
                    <p>{{message}}</p>
                </div>
            </form>
            <button class="btn btn-success" onclick="sendMail()">Send</button>
        </div>
    </div>
</div>
<script>
    function sendMail() {
        let input = document.getElementById('email').value;
        let error = document.getElementById('emailError');
        let valid = true;

        if (input.length == 0 || !emailRegex.test(input)) {
            error.hidden = false;
            valid = false;
        } else {
            error.hidden = true;
        }

        if (!valid) {
            return;
        }

        document.forms["emailForm"].submit();
    }
</script>