<div class="container-fluid" id="forsideContainer">
    <div class="row d-flex ml-0 mr-0">
        <div class="card mb-3 col-6 p-0" style="border: none;" style="border-radius: 0 !important;">
            <div class="card bg-dark text-white" style="border: none;" style="border-radius: 0 !important;">
                <img class="card-img"
                    src="https://images.unsplash.com/photo-1573804962907-741206231b57?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                    alt="Card image">
                <div class="card-img-overlay">
                    <div class="card-body">
                        <h2 class="card-title">Se praktikopslag</h2>
                        <p class="card-text" style="font-size: 21px;">
                            Find en passende praktikplads.
                        </p>
                    </div>
                </div>
            </div>
            <a href="/search-praktik" class="stretched-link"></a>
        </div>
        <div class="card mb-3 col-6 p-0" style="border: none;" style="border-radius: 0 !important;">
            <div class="card bg-dark text-white" style="border: none;" style="border-radius: 0 !important;">
                <img class="card-img"
                    src="https://images.unsplash.com/photo-1531973576160-7125cd663d86?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                    alt="Card image">
                <div class="card-img-overlay">
                    <div class="card-body">
                        <h2 class="card-title">Lav CV</h2>
                        <p class="card-text" style="font-size: 21px;">
                            Her kan du lave dit CV eller redigere i dit allerede eksisterende CV.    
                        </p>
                    </div>
                </div>
            </div>
            <a href="/mit-cv" class="stretched-link"></a>
        </div>
    </div>
<div class="col-6 p-3 m-0 d-flex flex-column">
        <h1 class="pb-1" id="Arbejdstid_og_læringsmål">
            Arbejdstid og læringsmål
        </h1>
        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
            Praktikanten skal arbejde 37 timer pr. uge inkl. tid til at arbejde med en praktikrapport, som den studerende skal til eksamen i efter endt praktik. Hvis arbejdstiden ligger uden for hverdage, skal det aftales og oplyses i praktikaftalen.
            Den studerendes arbejdsopgaver skal være relevante og opfylde læringsmålene inden for den pågældende uddannelse. Arbejdsopgaverne, som skal godkendes af Zealands praktikkoordinator, kan fx være hjælp til den daglige opgaveløsning, gennemførelse af analyser, udviklingsopgaver mv. 
        </p>
        <h1 class="pb-1" id="Løn">
            Løn
        </h1>
        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
            Praktikken er ulønnet – dog er den lønnet for handelsøkonomstuderende. 
            Virksomheden har mulighed for at give den studerende en erkendtlighed efter endt praktik. Erkendtligheden anses ikke som løn, men en påskønnelse af den studerendes indsats.
        </p>
        <h1 class="pb-1" id="Forsikring">
            Forsikring
        </h1>
        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
            I henhold til §§ 48 og 49 i Lov om arbejdsskadesikring, er det praktikvirksomhedens pligt at forsikre den studerende under praktikopholdet i Danmark.
        </p>
        <h1 class="pb-1" id="Praktikaftale">
            Praktikaftale
        </h1>
        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
            Zealands praktikaftale er digital.
            Kontrakten udfyldes af den studerende med informationer om den studerende og virksomheden. Zealands praktikkoordinator godkender praktikaftalen inden den sendes til godkendelse hos virksomheden og den studerende. Ved yderligere spørgsmål vedrørende praktik skal der rettes henvendelse til praktikkoordinatoren.
        </p>
        <h1 class="pb-1" id="Praktikperiode">
            Praktikperiode
        </h1>
        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
            Oversigt over praktikperioder på uddannelserne
            <img src="https://www.zealand.dk/wp-content/uploads/2020/05/praktikperioder2020.jpg.pagespeed.ce.loIpIRDVkR.jpg">
        </p>
        <h1 class="pb-1" id="For_studerende">
            For studerende
        </h1>
        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
            Som studerende på Zealand er praktik en obligatorisk del af din uddannelse. Praktikperioden afhænger af hvilken uddannelse den studerende går på (se skema under Praktikperiode).
        </p>
        <h1 class="pb-1" id="ZealandConnect–form_din_fremtid">
            ZealandConnect – form din fremtid
        </h1>
        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
            Med ZealandConnect kan du nemt finde en fremtidig praktik eller arbejdsplads, da der er mulighed for at se alle tilgængelige jobopslag.
        </p>
    </div>
</div>
</div>