<div class="container-fluid" id="forsideContainer">
    <div class="row d-flex ml-0 mr-0">
        <div class="card col-12 col-lg-6 p-0" style="border: none;" style="border-radius: 0 !important;">
            <div class="card bg-dark text-white" style="border: none;" style="border-radius: 0 !important;">
                <a href="/login" class="stretched-link">

                </a>
                <img
                        class="card-img"
                        src="images/forside-billede1.jpg"
                        alt="Card image"
                        href="/login-student"
                >
                <div class="card-img-overlay">
                    <div class="card-body">
                        <h2 class="card-title" data-key="student_quick_access_headline">For studerende</h2>
                        <p class="card-text" style="font-size: 21px;" data-key="student_quick_access_btn">
                            Find dit næste job eller din næste praktikplads.
                            Du kan også gøre dig synlig ved at oprette et CV.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-12 col-lg-6 p-0" style="border: none;" style="border-radius: 0 !important;">
            <div class="card bg-dark text-white" style="border: none;" style="border-radius: 0 !important;">
                <a href="/login" class="stretched-link"></a>
                <img class="card-img"
                     src="images/forside-billede2.jpg"
                     alt="Card image">
                <div class="card-img-overlay">
                    <div class="card-body">
                        <h2 class="card-title" data-key="company_quick_access_headline">For virksomhed</h2>
                        <p class="card-text" style="font-size: 21px;" data-key="company_quick_access_btn">
                            Gør dig synlig for studerende ved at lave et praktik- eller jobopslag.
                            Du kan også søge studerende selv ved at kigge på offentliggjorte CV'er.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 p-3 m-0 d-flex flex-column">
        {{> forside-text-for-virk}}
        {{> forside-text-arbejdtid}}
        {{> forside-text-loen}}
        {{> forside-text-forsikring}}
        {{> forside-text-praktikaftale}}
        {{> forside-text-praktikperiode}}
        {{> forside-text-zealand}}
        {{> forside-text-for-stud}}
        {{> forside-text-slogan}}
    </div>
</div>




{{!-- <p class="d-flex justify-content-center">Her kommer der text</p> --}}
</div>
