<script src='/javascript/forside.js' defer></script>
<div class="container-fluid" id="forsideContainer">
    <div class="row d-flex ml-0 mr-0">
        <div class="card mb-3 col-6 p-0" style="border: none;" style="border-radius: 0 !important;">
            <div class="card bg-dark text-white" style="border: none;" style="border-radius: 0 !important;">
                <img class="card-img"
                    src="https://images.unsplash.com/photo-1573804962907-741206231b57?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                    alt="Card image">
                <div class="card-img-overlay">
                    <div class="card-body">
                        <h5 class="card-title">Lave pratickopslag</h5>
                        <p class="card-text" style="font-size: 21px;">This is a wider card with supporting text below as
                            a
                            natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
            <a href="/internship_post" class="stretched-link"></a>
        </div>
        <div class="card mb-3 col-6 p-0" style="border: none;" style="border-radius: 0 !important;">
            <div class="card bg-dark text-white" style="border: none;" style="border-radius: 0 !important;">
                <img class="card-img"
                    src="https://images.unsplash.com/photo-1531973576160-7125cd663d86?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                    alt="Card image">
                <div class="card-img-overlay">
                    <div class="card-body">
                        <h5 class="card-title">Se Cv</h5>
                        <p class="card-text" style="font-size: 21px;">This is a wider card with supporting text below as
                            a
                            natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
            <a href="/search-cv" class="stretched-link"></a>
        </div>
    </div>
    <div class="col-6 p-3 m-0 d-flex flex-column">
        <h1>
            Zealand Connect
        </h1>

        <p class="text-left" style="font-size: 21px;" style="width: 90%;">
            Zealand Connect udvider dit netværk med nye arbejdspladser og praktikanter.
            Med et bredt udvalg af forskellige kompetencer,
            kan du med sikkerhed finde et match,
            hvad end du søger en ny medarbejder i din virksomhed eller mere erfaring som studerende.
            Du har adgang til alle tilgængelige profiler og kan nemt komme i kontakt med dit match,
            ved et ønsket fremtidigt samarbejde.
        </p>
    </div>
</div>




{{!-- <p class="d-flex justify-content-center">Her kommer der text</p> --}}
</div>