<script src='/javascript/forside.js' defer></script>
<div class="container-fluid">
    <h1 class="d-flex justify-content-center">Velkommen til ZealandConnect</h1>
    <div id="demo" class="carousel slide " data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner " id="cl1">
            <div class="carousel-item active">
                <img src="https://images.sn.dk/73/1347673_605_0_0_0_0_0_4.jpg?w=2000&ssl=1">
            </div>
            <div class="carousel-item">
                <img
                    src="https://images-ext-2.discordapp.net/external/ABluHCwtxs6DI5HCLi0q9CrL_L-gd6NYzCzWBXLUSEY/%3Fw%3D2000%26ssl%3D1/https/3plusinternational.com/wp-content/uploads/2015/03/Happy-business-people-thumbs-up.jpg?width=895&height=671">
            </div>
            <div class="carousel-item">
                <img
                    src="https://images-ext-2.discordapp.net/external/LYVveT78rpm1JEDG7mEDdHkVY-mviqtgnIqK3Tic_EQ/%3Fw%3D2000%26ssl%3D1/https/i1.wp.com/blog.vagaro.com/wp-content/uploads/2019/05/nominated-words-in-the-wild-a-nice-way-to-welcome-customers-to-the-restaurant-people-inside-sign_t20_ZVRdOk.jpg?width=823&height=671">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
    <hr id="forsideLine">
    <div class="container">
        <div class="col-4-sm">
            <h5 id="forsideText" class="d-flex justify-content-center">Her kommer der text
            </h5>
        </div>
    </div>
</div>
<script>
    function limitChar(obj) {
        obj.innerHTML = obj.innerHTML.replace(/(.{72})/g, "$1<br>");
    }
    window.onload = limitChar(document.getElementById('forsideText'));
</script>