<div class="container-fluid" id="forsideContainer">
    <div class="row d-flex ml-0 mr-0">
        <div class="card mb-3 col-6 p-0" style="border: none;" style="border-radius: 0 !important;">
            <div class="card bg-dark text-white" style="border: none;" style="border-radius: 0 !important;">
                <img class="card-img"
                    src="https://images.unsplash.com/photo-1573804962907-741206231b57?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                    alt="Card image">
                <div class="card-img-overlay">
                    <div class="card-body">
                        <h2 class="card-title">Lav praktikopslag</h2>
                        <p class="card-text" style="font-size: 21px;">
                            Gør dig synlig for studerende ved at oprette et praktikopslag.
                        </p>
                    </div>
                </div>
            </div>
            <a href="/internship_post" class="stretched-link"></a>
        </div>
        <div class="card mb-3 col-6 p-0" style="border: none;" style="border-radius: 0 !important;">
            <div class="card bg-dark text-white" style="border: none;" style="border-radius: 0 !important;">
                <img class="card-img"
                    src="https://images.unsplash.com/photo-1531973576160-7125cd663d86?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                    alt="Card image">
                <div class="card-img-overlay">
                    <div class="card-body">
                        <h2 class="card-title">Se CV</h2>
                        <p class="card-text" style="font-size: 21px;">
                            Find en passende praktikant til din virksomhed.
                        </p>
                    </div>
                </div>
            </div>
            <a href="/search-cv" class="stretched-link"></a>
        </div>
    </div>
    <div class="col-6 p-3 m-0 d-flex flex-column">
        <h1 class="pb-1" id="Til_Virksomheder">
            For virksomheden
        </h1>

        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
            Som led i uddannelsen på Zealand, skal vores studerende i praktik og man har som virksomhed mulighed for at få en ulønnet praktikant i 3 måneder. Dog er der enkelte uddannelser, hvor praktikperioden har en anden længde eller at den er lønnet (se mere under Løn).
            Et praktikforløb har flere formål, og er givende for både for virksomheden og for den studerende. Vores studerende er klar til at bidrage med en bred teoretisk viden. I virksomheden får den studerende mulighed for at afprøve sine kompetencer i praksis og de får værdifulde konkrete erfaringer. 
            Målet med praktik er at koble uddannelsens teorier og værktøjer med faktiske og praktiske udfordringer, som virksomheder møder dagligt.
            Virksomheden tildeler praktikanten en kontaktperson, som har daglig kontakt og mulighed for at guide og hjælpe under praktikforløbet. Derudover vil kontaktpersonen efter endt praktik skulle udfylde en digital evaluering af den studerende og samarbejdet med Zealand.
        </p>
        <h1 class="pb-1" id="Arbejdstid_og_læringsmål">
            Arbejdstid og læringsmål
        </h1>
        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
            Praktikanten skal arbejde 37 timer pr. uge inkl. tid til at arbejde med en praktikrapport, som den studerende skal til eksamen i efter endt praktik. Hvis arbejdstiden ligger uden for hverdage, skal det aftales og oplyses i praktikaftalen.
            Den studerendes arbejdsopgaver skal være relevante og opfylde læringsmålene inden for den pågældende uddannelse. Arbejdsopgaverne, som skal godkendes af Zealands praktikkoordinator, kan fx være hjælp til den daglige opgaveløsning, gennemførelse af analyser, udviklingsopgaver mv. 
        </p>
        <h1 class="pb-1" id="Løn">
            Løn
        </h1>
        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
            Praktikken er ulønnet – dog er den lønnet for handelsøkonomstuderende. 
            Virksomheden har mulighed for at give den studerende en erkendtlighed efter endt praktik. Erkendtligheden anses ikke som løn, men en påskønnelse af den studerendes indsats.
        </p>
        <h1 class="pb-1" id="Forsikring">
            Forsikring
        </h1>
        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
            I henhold til §§ 48 og 49 i Lov om arbejdsskadesikring, er det praktikvirksomhedens pligt at forsikre den studerende under praktikopholdet i Danmark.
        </p>
        <h1 class="pb-1" id="Praktikaftale">
            Praktikaftale
        </h1>
        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
            Zealands praktikaftale er digital.
            Kontrakten udfyldes af den studerende med informationer om den studerende og virksomheden. Zealands praktikkoordinator godkender praktikaftalen inden den sendes til godkendelse hos virksomheden og den studerende. Ved yderligere spørgsmål vedrørende praktik skal der rettes henvendelse til praktikkoordinatoren.
        </p>
        <h1 class="pb-1" id="Praktikperiode">
            Praktikperiode
        </h1>
        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
        Oversigt over praktikperioder på uddannelserne
        <img src="https://www.zealand.dk/wp-content/uploads/2020/05/praktikperioder2020.jpg.pagespeed.ce.loIpIRDVkR.jpg">
        </p>
        <h1 class="pb-1" id="ZealandConnect">
            ZealandConnect
        </h1>
        <p class="text-left pb-3" style="font-size: 21px;" style="width: 90%;">
            Find en praktikant ved at oprette en annonce på Zealand Connect, og beskriv hvad du kan tilbyde i praktikforløbet. Vil du selv finde en praktikant, har du også mulighed for at gennemgå de studerendes CV og selv kontakte dem ved yderligere interesse.
        </p>
    </div>
</div>
</div>