<script src='/javascript/forside.js' defer></script>
<div class="container-fluid" id="forsideContainer">
        <div class="row d-flex ml-0 mr-0">
            <div class="col-6 p-0">
                <div class="" id="cl1">
                     <div class="">
                        <img class="img-fluid w-100"
                                src="https://images.sn.dk/73/1347673_605_0_0_0_0_0_4.jpg?w=2000&ssl=1">
                    </div>
                </div>
            </div>
            <div class="col-6 p-3 m-0 d-flex flex-column">
                <h1>
                    Zealand Connect
                </h1>

                <p class="text-left" style="font-size: 21px;" style="width: 90%;">
                       Zealand Connect udvider dit netværk med nye arbejdspladser og praktikanter. 
                       Med et bredt udvalg af forskellige kompetencer, 
                       kan du med sikkerhed finde et match, 
                       hvad end du søger en ny medarbejder i din virksomhed eller mere erfaring som studerende. 
                       Du har adgang til alle tilgængelige profiler og kan nemt komme i kontakt med dit match, 
                       ved et ønsket fremtidigt samarbejde.
                </p>
            </div>
        </div>


    
    {{!-- <p class="d-flex justify-content-center">Her kommer der text</p> --}}
</div>
