<div class="container-fluid">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <!--<p>Node started: {{date}}</p>-->

    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/login-student">Login for studerende</a></li>
        <li><a href="/mit-CV">Mit-CV</a></li>
        <li><a href="/internship_post">Indryk opslag</a></li>
        <li><a href="/opretBruger">Opret Bruger</a></li>
    </ul>
</div>
