<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Indryk praktikopslag</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <form>
                <div class="form-group">
                    <label for="email">Email adresse</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email"
                        aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="education">Uddannelse</label>
                    <select class="form-control" name="education" id="educationSelect">
                        <option>Handelsøkonom</option>
                        <option>Datamatiker</option>
                        <option>Bygningskonstruktør</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="freetext">Fritekst</label>
                    <textarea class="form-control" name="freetext" id="applicationFreetext" rows="3"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>