<div class="container-fluid">
    <div class="col-12 col-lg-6 p-3 m-0 d-flex flex-column">
        {{#if isCompany}}
            {{> forside-text-zealand}}
            {{> forside-text-for-virk}}
            {{> forside-text-arbejdtid}}
            {{> forside-text-loen}}
            {{> forside-text-forsikring}}
            {{> forside-text-praktikaftale}}
            {{> forside-text-praktikperiode}}
        {{else if isStudent}}
            {{> forside-text-for-stud}}
            {{> forside-text-arbejdtid}}
            {{> forside-text-loen}}
            {{> forside-text-forsikring}}
            {{> forside-text-praktikaftale}}
            {{> forside-text-praktikperiode}}
        {{else}}
            {{> forside-text-for-stud}}
            {{> forside-text-for-virk}}
            {{> forside-text-arbejdtid}}
            {{> forside-text-loen}}
            {{> forside-text-forsikring}}
            {{> forside-text-praktikaftale}}
            {{> forside-text-praktikperiode}}
        {{/if}}
    </div>
</div>