<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Indryk opslag</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <form method="POST" onsubmit="return validate_internship_post(event)">
                <div class="form-group required">
                    <label for="">Titel</label>
                    <input type="text" name="title" id="internshipTitle" class="form-control" placeholder="Titel">
                    <p id="titleError" class="CVErrorColor" hidden="true">Du skal angive en titel</p>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group required">
                            <label for="internshipEmail">Email adresse</label>
                            <input type="email" name="email" id="internshipEmail" class="form-control"
                                placeholder="Email">
                            <p id="emailError" class="CVErrorColor" hidden="true">Du skal skrive din email her og mindst
                                bruge et @</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group required">
                            <label for="contactName">Navn på kontaktperson</label>
                            <input type="text" name="contact" id="contactName" class="form-control" placeholder="Navn">
                            <p id="contactError" class="CVErrorColor" hidden="true">Du skal angive en kontaktperson</p>
                        </div>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="education">Uddannelse</label>
                    <select class="form-control" name="education" id="educationSelect">
                        <option value="0">Vælg en uddannelse</option>
                        <option value="1">Handelsøkonom</option>
                        <option value="2">Datamatiker</option>
                        <option value="3">Bygningskonstruktør</option>
                    </select>
                    <p id="educationError" class="CVErrorColor" hidden="true">Du skal angive en uddannelse</p>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group required">
                            <label for="countrySelect">Land</label>
                            <select class="form-control" name="country" id="countrySelect">
                                <option value="1">Danmark</option>
                                <option value="2">Tyskland</option>
                                <option value="3">Sverige</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="regionSelect">Region</label>
                            <select class="form-control" name="region" id="regionSelect">
                                <option value="1">Sjælland</option>
                                <option value="2">Jylland</option>
                                <option value="3">Fyn</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="post_start_date">Ansøgningsfrist</label>
                            <input type="date" class="form-control" name="post_start_date" id="applicationDeadline"
                                placeholder="dd / mm / åååå">
                            <p id="poststartdateError" class="CVErrorColor" hidden="true">Du skal angive en start dato
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="post_end_date">Ansættelsestidspunkt</label>
                            <input type="date" class="form-control" name="post_end_date" id="internshipEmploymentDate"
                                placeholder="dd / mm / åååå">
                            <p id="postenddateError" class="CVErrorColor" hidden="true">Du skal angive et
                                ansættelsestidspunkt</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group required">
                            <label for="cvr_number">CVR Nummer</label>
                            <input type="text" pattern="^[0-9]{8}$" title="CVR må kun være 8 tal" name="cvr_number"
                                id="companyCVR" class="form-control" placeholder="CVR">
                            <p id="cvrError" class="CVErrorColor" hidden="true">Du skal angive dit CVR nummer, det skal
                                præcist være 8 tal</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="company_link">Link til Hjemmeside</label>
                            <input type="url"
                                pattern="^(http://www.|https://www.|http://|https://)?[a-z0-9]+([-.]{1}[a-z0-9]+).[a-z]{2,5}(:[0-9]{1,5})?(/.)?$"
                                title="Link er ugyldigt" name="company_link" id="companyURL" class="form-control"
                                placeholder="https://virksomhed.dk">
                            <p id="companylinkError" class="CVErrorColor" hidden="true">Du skal angive et gyldigt link
                                her f.eks http://www.zealandconnect.dk</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group required">
                            <label for="city_text">By</label>
                            <select class="form-control" name="city_text" id="cityList">
                                {{{generatedCityOptions}}}
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="post_document">Vedhæft fil</label>
                            <input type="file" name="post_document" id="CompanyDoc" class="form-control-file">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="company_logo">Virksomhedslogo</label>
                            <input type="file" name="company_logo" id="CompanyLogo" class="form-control-file">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" name="post_text" id="plainText" />
                    <label for="editor">Opslagstekst</label>
                    <div id="editor"></div>
                </div>
                <p id="posttextError" class="CVErrorColor" hidden="true">Du har angivet for mange tegn</p>
                <div class="form-group">
                    <button type="submit" onclick="copyQuillHtmlToHiddenInput();"
                        class="btn btn-success mr-2">Gem</button>
                    <button type="button" class="btn btn-danger">Afbryd</button>
                </div>

            </form>
        </div>
    </div>
</div>
<script src="/js/quill.min.js"></script>
<script src="/javascript/validate_internship_post.js"></script>
<script>
    var toolbarOptions = [
        [{ 'size': ['small', false, 'large', 'huge'] }],
        ['bold', 'italic', 'underline', 'strike'],
        [{ 'align': [] }],
        [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        [{ 'color': [] }, { 'background': [] }],
        ['link', 'image', 'video'],
        ['clean']
    ];
    var editor = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });

    function copyQuillHtmlToHiddenInput() {
        document.getElementById('plainText').value = editor.root.innerHTML;
    }
</script>