<div class="container-fluid">
    <div class="col-12 col-lg-8 mt-3">
        <h1 class="side-overskrift" data-key="Opslag">Praktikkoordinatorer</h1>
        <div class="row m-0">
            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Anne-Kathrine Skadhauge
                </h5>
                <h6>
                    Køge
                </h6>
                <h6>
                    Alle uddannelser
                </h6>
                <h6>
                    <a href="mailto:ansk@zealand.dk">
                        ansk@zealand.dk
                    </a>
                </h6>
                <h6>
                    <a href="tel:50762628">
                        50762628
                    </a>
                </h6>
            </div>

            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Allan Bjeld
                </h5>
                <h6>
                    Nykøbing F
                </h6>
                <h6>
                    Alle uddannelser
                </h6>
                <h6>
                    <a href="mailto:albj@zealand.dk">
                        albj@zealand.dk
                    </a>
                </h6>
                <h6>
                    <a href="tel:30367890">
                        30367890
                    </a>
                </h6>
            </div>

            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Mette Day
                </h5>
                <h6>
                    Næstved, Holbæk
                </h6>
                <h6>
                    Alle uddannelser
                </h6>
                <h6>
                    <a href="mailto:meda@zealand.dk">
                        meda@zealand.dk
                    </a>
                </h6>
                <h6>
                    <a href="tel:50762726">
                        50762726
                    </a>
                </h6>
            </div>


            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Vibeke Sandau
                </h5>
                <h6>
                    Roskilde
                </h6>
                <h6>
                    Datamatiker, Computer Science, Web Development (Top-up)
                </h6>
                <h6>
                    <a href="mailto:visa@zealand.dk">
                        visa@zealand.dk
                    </a>
                </h6>
                <h6>
                    <a href="tel:50762665">
                        50762665
                    </a>
                </h6>
            </div>

            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Helle Wagner Holm
                </h5>
                <h6>
                    Roskilde
                </h6>
                <h6>
                    Markedsføringsøkonom, Marketing Management, International Handel og Markedsføring (Top-up),
                    International Sales & Marketing (Top-up)
                </h6>
                <h6>
                    <a href="mailto:hewa@zealand.dk ">
                        hewa@zealand.dk
                    </a>
                </h6>
                <h6>
                    <a href="tel:50762769">
                        50762769
                    </a>
                </h6>
            </div>

            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Kristoffer Lunøe
                </h5>
                <h6>
                    Roskilde
                </h6>
                <h6>
                    Laborant
                </h6>
                <h6>
                    <a href="mailto:krlu@zealand.dk">
                        krlu@zealand.dk
                    </a>
                </h6>
                <h6>
                    <a href="tel:50762804">
                        50762804
                    </a>
                </h6>
            </div>


            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Tomas Olofsson
                </h5>
                <h6>
                    Roskilde
                </h6>
                <h6>
                    Procesteknolog
                </h6>
                <h6>
                    <a href="mailto:tool@zealand.dk">
                        tool@zealand.dk
                    </a>
                </h6>
                <h6>
                    <a href="tel:50762722">
                        50762722
                    </a>
                </h6>
            </div>

            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Hanne Carden
                </h5>
                <h6>
                    Slagelse
                </h6>
                <h6>
                    Multimediedesigner
                </h6>
                <h6>
                    <a href="mailto:moev@zealand.dk">
                        moev@zealand.dk
                    </a>
                </h6>
                <h6>
                    <a href="tel:50762850">
                        50762850
                    </a>
                </h6>
            </div>

            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Louise Postborg
                </h5>
                <h6>
                    Slagelse, Nykøbing F
                </h6>
                <h6>
                    Produktionsteknolog
                </h6>
            </div>


            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Ole Buch Hansen
                </h5>
                <h6>
                    Slagelse
                </h6>
                <h6>
                    VVS-installatør
                </h6>
                <h6>
                    <a href="mailto:olha@zealand.dk">
                        olha@zealand.dk
                    </a>
                </h6>
            </div>

            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Bernd Rainer Peschke
                </h5>
                <h6>
                    Slagelse
                </h6>
                <h6>
                    Laborant
                </h6>
                <h6>
                    <a href="mailto:bepe@zealand.dk">
                        bepe@zealand.dk
                    </a>
                </h6>
                <h6>
                    <a href="tel:50762799">
                        50762799
                    </a>
                </h6>
            </div>

            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Emilie Hjort Ceylan
                </h5>
                <h6>
                    Slagelse
                </h6>
                <h6>
                    Jordbrugsteknolog, Jordbrug (Top-up)
                </h6>
                <h6>
                    <a href="mailto:emce@zealand.dk">
                        emce@zealand.dk
                    </a>
                </h6>
            </div>


            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Malene Jelbo
                </h5>
                <h6>
                    Slagelse
                </h6>
                <h6>
                    Serviceøkonom
                </h6>
                <h6>
                    <a href="mailto:malj@zealand.dk">
                        malj@zealand.dk
                    </a>
                </h6>
            </div>
        </div>

        <h1 class="side-overskrift mt-5" data-key="Opslag">Udvikling og support af Zealand Connect</h1>
        <div class="row m-0 pb-5">
            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Benjamin Kyhn
                </h5>
                <h6>
                    <a href="mailto:zcsupport@zealand.dk">
                        zcsupport@zealand.dk
                    </a>
                </h6>
                <h6>
                    <a href="tel:50762726">
                        50762889
                    </a>
                </h6>
            </div>

            <div class="col-12 col-md-4 mt-3 mb-3">
                <h5>
                    Tommy Gultiano Hansen
                </h5>
                <h6>
                    <a href="mailto:zcsupport@zealand.dk">
                        zcsupport@zealand.dk
                    </a>
                </h6>
                <h6>
                    <a href="tel:50762726">
                        50762807
                    </a>
                </h6>
            </div>
        </div>
    </div>
</div>