<div class="container-fluid">
    <div class="col">
        <h5>
        Mette Day
    </h5>
    <h6>
        Praktik- og praksiskoordinator
    </h6>
    <h6>
        Næstved
    </h6>
    <h6>
        <a href="mailto:MEDA@zealand.dk">
            MEDA@zealand.dk
        </a>
    </h6>
    <h6>
        <a href="tel:50762726">
            50762726
        </a>
    </h6>
    </div>
    
</div>