<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <!-- Bootstrap stylesheet here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Quill rich text editor -->
    <link rel="stylesheet" href="/stylesheets/quill.snow.css">
    <!-- Custom stylesheet here -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<!-- TODO: navigation -->
<div class="sidebar">
    <a>Zealand</a>
    <span>Sjællands Erhvervsakademi</span>
</div>
{{{body}}}
<!-- JQuery and Bootstrap linked here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" 
        crossorigin="anonymous"></script>

</body>

</html>
