<div id="loginScreen">
    <div class="row1">
        <div id="loginBoxBackground">
            <div id="tempID1">
                <img src="/images/text-logo.png" id="zealandLogo" alt="Zealand">
            </div>
            <div id="tempID2">
                    <div class="Horatio">
                        <input type="radio" name="tabset" id="tab1" aria-controls="login" checked="">
                        <label class="buttonText">Studerende</label>
                        <input type="radio" name="tabset" id="tab1" aria-controls="login" checked="">
                        <label class="buttonText">Virksomhed</label>
                    </div>
                <div class="Mecurio">
                    <button class="easjLoginKnap">
                        <img src="/images/easj-login-knap.png" alt="EASJ Login">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row2">
        <div id="cookieBox">
            <div id="cookieText">
                big cookies will be show here ;)
            </div>
        </div>
    </div>
</div>