<script src="/javascript/login-student.js" defer></script>

<div class="container fluid">
        <div class="row justify-content-left">
            <div class="col-8">
                <img src="" alt="">
                this is my last resort
            </div>
            <div class="col-4">
                cut my life into pieces
        </div>
    </div>
</div>