<script src='/javascript/login.js' defer></script>
<div id="language" hidden >{{language}}</div>


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
            <div id="loginBoxBackground">
                <div id="loginContent">
                    <img src="/images/text-logo.png" id="zealandLogo" alt="Zealand">
                    <div class="radioBtnBox">
                        <input type="radio" class="radioButton" name="tabset" id="tab1" aria-controls="login" checked="checked"
                               onclick="showEASJButton()">
                        <label class="buttonText" data-key="studerende">Studerende</label>
                        <input type="radio" class="radioButton" name="tabset" id="tab2" aria-controls="login"
                               onclick="showVirksomhedLogin()">
                        <label class="buttonText" data-key="virksomhed">Virksomhed</label>
                    </div>
                    <div class="loginBtnBox">
                        <button id="easjLoginKnap">
                            <img src="/images/easj-login-knap.png" alt="EASJ Login">
                        </button>
                        <form action="/login/authenticateZealandConnect" method="post" class="form-group" id="loginForm">
                            <input type="email" id="inputFeltEmail" class="form-control" name="
                        email" placeholder="Email"><br>
                            <input type="password" id="inputFeltPassword" class="form-control"
                                   name="Password" placeholder="Adgangskode" data-key="adgangskode"><br>
                            <input type="checkbox" value="name" id="huskEmailCheckbox">
                            <label for="huskEmailCheckbox" data-key="husk-email">Husk email </label>
                            <button class="gulKnap"> Login</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="cookieBox">
                <div id="cookieText" >
                    <p data-key="cookie" style="display: inline;">Cookies skal være aktiveret i din browser</p>
                    <button id="questionMarkButton"><img src="/images/blue-question-mark.png" alt="?"></button>
                </div>
            </div>
        </div>
    </div>
</div>