<script src="/javascript/login-student.js" defer></script>

<div class="container-fluid">
        <div class="row justify-content-end">
             <div class="col-8" id="gulBaggrund">
            </div>
            <div class="col-12 col-md-4"id="loginBoks">
                <h1>LOGIN</h1>
                <br>
                <p>Log på med din organizationskonto</p>
                <div class="form-group" id="studentLoginForm">
                        <input type="email" id="inputFeltEmailStudent" class="form-control" name="
                        email" placeholder="nogen@example.com">
                    <br>
                    <input type="password" id="inputFeltPasswordStudent" class="form-control" name="
                        password" placeholder="Adgangskode"><br>
                </div>
                    <button class="btn btn-dark" onclick="" type="button" id="logPaa">Log på</button>
                    <p>Benyt din EASJ email til at logge ind med.</p>
                    <br>
                    <p>Glemt kodeord? Send en SMS med teksten "kodeord" til 50 76 27 10.</p>
                    <div id="linksHelp">
                    <a href="https://zealand.dk" class="bottomLink">Zealand.dk</a> <a href="https://helpdesk.zealand.dk" class="bottomLink">Helpdesk</a>
                    </div>
        </div>
    </div>
</div>