<script src="/javascript/login-student.js" defer></script>

<div class="container-fluid">
        <div class="row justify-content-end">
             <div class="col-8" id="gulBaggrund">
            </div>
            <div class="col-12 col-lg-4"id="loginBoks">
                <h1>LOGIN</h1>
                <br>
                <p data-key="Log_paa_med_din_organizationskonto">Log på med din organizationskonto</p>
                <form action="/login-student/authenticate" method="post"  class="form-group" id="studentLoginForm">
                    <p style="color: red;">{{errormessage}}</p>
                    <input type="email" id="inputFeltEmailStudent" class="form-control" name="email" placeholder="nogen@example.com" data-key="email_placeholder"> <br>
                    <input type="password" id="inputFeltPasswordStudent" class="form-control" name="password" placeholder="Adgangskode" data-key="password_placeholder"><br>
                    <button class="btn btn-dark" type="submit" id="logPaa" data-key="Log_paa">Log på</button>
                </form>
                    <p data-key="login_help">Benyt din email til at logge ind med.</p>
                    <div id="linksHelp">
                    <a href="https://zealand.dk" class="bottomLink">Zealand.dk</a> <a href="https://helpdesk.zealand.dk" class="bottomLink">Helpdesk</a>
                    </div>
        </div>
    </div>
</div>