<script src="/javascript/login-student.js" defer></script>

<div class="container fluid">
        <div class="row justify-content-left">
            <div class="col-8">
                <img src="" alt="">
                this is my last resort
            </div>
            <div class="col-4">
                <h1>Login</h1>
                <p>Log på med din organizationskonto</p>
                <div class="form-group" id="studentLoginForm">
                    <input type="email" id="inputFeltEmailStudent" placeholder="nogen@example.com">
                    <input type="password" id="inputFeltPasswordStudent" placeholder="adgangskode">
                </div>
                    <button onclick="" type="button" id="logPaa">Log på</button>
                    <p>Benyt din EASJ email til at logge ind med.</p>
                    <br>
                    <p>Glemt kodeord? Send en SMS med teksten "kodeord" til 50 76 27 10.</p>
        </div>
    </div>
    <p>© 2020 Microsoft</p> <a href="https://zealand.dk">Zealand.dk</a> <a href="https://helpdesk.zealand.dk">Helpdesk</a>
</div>