
<div id="loginScreen">
    <div class="row1">
        <div id="loginBoxBackground">
            <img src="/images/text-logo.png" id="zealandLogo" alt="Zealand">
            
        </div>
    </div>
        
    <div class="row2">
        <div id="cookieBox">
            <div id="cookieText">
                big cookies will be show here ;)
            </div>
        </div>
    </div>
</div>