<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
            <div id="loginBoxBackground">
                <div id="loginContent">
                    <img src="/images/text-logo.png" id="zealandLogo" alt="Zealand">
                    <div class="loginBtnBox">
                        <form action="/login/authenticateUser" method="post" class="form-group" id="loginForm">
                            <p style="color: red;">{{errormessage}}</p>
                            <input type="email" id="inputFeltEmail" class="form-control" name="email" placeholder="Email"><br>
                            <input type="password" id="inputFeltPassword" class="form-control"
                                   name="password" placeholder="Adgangskode" data-key="placeholderAdgangskode"><br>
                            <!--
                            <input type="checkbox" value="name" id="huskEmailCheckbox">
                            <label for="huskEmailCheckbox" data-key="Husk_email">Husk email </label>
                            -->
                            <input type="submit" class="gulKnap" value="Login"> </button>
                        </form>
                        <!--<label for="opretBrugerKnapVedLogin" id="opretBrugerLabelVedLogin">Eller</label>-->
                        <button class="gulKnap" onclick="window.location.href='/opret-bruger?virk=1'" id="opretBrugerKnapVedLogin" data-key="Opret_bruger">Opret bruger</button>
                    </div>
                </div>
            </div>

            <div id="cookieBox">
                <div id="cookieText" >
                    <p data-key="cookie" style="display: inline;">Cookies skal være aktiveret i din browser</p>
                    <button id="questionMarkButton"><img src="/images/blue-question-mark.png" alt="?"></button>
                </div>
            </div>
            <div id="forgotPasswordBox">
                <a href="/forgot-password">Glemt dit kodeord?</a>
            </div>
        </div>
    </div>
</div>

