<div class="container-fluid">
    <div id=cards>
    {{> search-praktik-card}}
    </div>
    <div class="row d-flex justify-content-center" id="pagination">
        {{> search-pagination}}
    </div>
</div>


