<div class="container-fluid">
    <div id="cards" style="max-width: 1200px">
    {{> search-praktik-card}}
    </div>
    <div class="row d-flex justify-content-center" id="pagination">
        {{> search-pagination}}
    </div>
</div>
<form id="filterForm" method="POST" action="mine-opslag/query"></form>
<script src="/javascript/mine-opslag.js"></script>


