<link rel='stylesheet' href='/stylesheets/style.css' />
<div class="container-fluid"></div>
<h1>{{status}}</h1>
<h2>{{message}}</h2>
<button class="btn btn-success" onclick="window.location.href='/search-cv/{{id}}'">Fortsæt til mit CV.</button>
</div>