<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <!-- Bootstrap stylesheet here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom stylesheet here -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    {{{body}}}
    <!-- JQuery and Bootstrap linked here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src='/javascript/godkendelse-af-CV.js' defer></script>
    <div class="container-fluid">
        <!-- tekst med dit navn og start på form -->
        <p class="text-center">{{Profil}}</p>
        <form>
            <!-- Overskrift textarea -->
            <div class="form-group">
                <label for="exampleFormControlInput1">Overskrift</label>
                <textarea class="form-control" id="overskrift" rows="2"></textarea>
            </div>
            <!-- studieretning med dropdown -->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="exampleFormControlSelect1">Studieretning</label>
                        <select class="form-control" id="studieretning">
                            <option>Datamatiker</option>
                            <option>Handelsøkonom</option>
                            <option>Innovation og entreprenørskab</option>
                        </select>
                    </div>
                    <!-- email med inputfelt -->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email address</label>
                            <input type="email" class="form-control" placeholder="name@example.com" id="email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Telefon nummer med inputfelt -->
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1">Telefon</label>
                        <input type="number" class="form-control" id="telefon">
                    </div>
                    <div class="col-sm-6">
                        <!-- hjemmeside med inputfelt -->
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Hjemmeside</label>
                            <input class="form-control" id="hjemmeside">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- textarea om mig -->
                    <label for="exampleFormControlTextarea1">Om mig</label>
                    <textarea class="form-control" rows="3" id="om mig"></textarea>
                </div>
                <div class="form-group">
                    <!-- textarea med arbejdserfaring -->
                    <label for="exampleFormControlTextarea1">Arbejdserfaring</label>
                    <textarea class="form-control" rows="3"
                        id="arbejdserfaring"></textarea>
                </div>
                <div class="form-group">
                    <!-- textarea med uddannelse -->
                    <label for="exampleFormControlTextarea1">Uddannelse</label>
                    <textarea class="form-control" rows="3" id="uddannelse"></textarea>
                </div>
                <div class="form-group">
                    <!-- textarea med hobby -->
                    <label for="exampleFormControlTextarea1">Hobby</label>
                    <textarea class="form-control" rows="3" id="hobby"></textarea>
                </div>
                <div class="text-center">
                    <!-- Button der sender informationen videre -->
                    <button type="submit" class="Save-CV" id="gem">Gem</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>