<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <!-- Bootstrap stylesheet here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom stylesheet here -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    {{{body}}}
    <!-- JQuery and Bootstrap linked here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <div class="container-fluid">
        <p class="text-center">{{Profil}}</p>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Overskrift</label>
                <textarea class="form-control" id="exampleFormControlInput1" rows="2"></textarea>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="exampleFormControlSelect1">Studieretning</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Datamatiker</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="name@example.com">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                            <label for="exampleFormControlInput1">Telefon</label>
                            <input type="number" class="form-control" id="exampleFormControlInput1">
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Hjemmeside</label>
                            <input class="form-control" id="exampleFormControlInput1">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Om mig</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Arbejdserfaring</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Uddannelse</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Hobby</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="text-center">
                <button type="button" class="Save-CV">Gem</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>