<div class="container-fluid">
    <div class="col-12 col-xl-6">
        <h1>Nyheder</h1>
        <div id="news-container">
            {{> nyheder-card}}
            {{> nyheder-card}}
        </div>
    </div>
</div>