<div class="container-fluid">
    <div class="col-12 col-sm-6">
        <div class="pb-5">
            <h1>
                Om Zealand Connect
            </h1>
            <p>Zealand Connect startede som et projekt i systemudvikling for DAT2019 på Zealand Næstved. Projektet var
                et samarbejde mellem uddannelsesinstitutionens praktikafdeling og datamatikerne for at skabe en
                hjemmeside, der gør det nemmere at skabe netværk mellem studerende og virksomehder.
            </p>
            <p>
                Udviklingen af Zealand Connect varetages nu af to studentermedhjælpere, som er i gang med
                datamatikeruddannelsen.
            </p>
            <p>
                Planen for Zealand Connect er at fremtidige datamatikerhold skal arbejde videre på siden og udvide den
                med mere funktionalitet.
            </p>
        </div>

        <div class="pb-5">
            <h3>Følgende personer har deltaget i udviklingen af Zealand Connect</h3>
            <p>Kelvin Aggerholm, Simon Grove</p>
        </div>

    </div>
</div>