<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
            <div id="loginBoxBackground">
                <div id="loginContent">
                    <img src="/images/text-logo.png" id="zealandLogo" alt="Zealand">
                    </div>
                    <div class="loginBtnBox">
                        <div class="form-group" id="virksomhedOpret"> <!-- Virksomheds opret form-->
                           <input type="email" id="virksomhedEmail" class="form-control" name="
                                    Email" placeholder="Email"><br>
                            <input type="email" id="virksomhedGentagEmail" class="form-control"
                                   name="GentagEmail" placeholder="Gentag email"><br>
                            <input type="string" id="virksomhedTelefonnummer" class="form-control"
                                   name="Telefonnummer" placeholder="Telefonnummer"><br>
                            <input type="string" id="virksomhedBy" class="form-control"
                                   name="By" placeholder="By"><br>
                            <input type="string" id="virksomhedPostnummer" class="form-control"
                                   name="Postnummer" placeholder="Postnummer"><br>
                            <input type="password" id="virksomhedAdgangskode" class="form-control"
                                   name="Password" placeholder="Adgangskode"><br>
                            <input type="password" id="virksomhedGentagAdgangskode" class="form-control"
                                   name="GentagPassword" placeholder="Gentag Adgangskode"><br>
                            <input type="text" id="virksomhedCVR" class="form-control"
                                   name="CVR" placeholder="CVR-Nummer"><br>

                            <button class="gulKnap" data-key="opret"> Opret Bruger</button>

                            <p id="centerP" data-key="eller">Eller</p>

                            <div class="google-div">
                            <button class="google-btn" data-key="opretGoogle"><img class="google-img" src="https://img-authors.flaticon.com/google.jpg" > Opret med Google</button>
                            </div>

<!--                            Midlertidige knapper til CRUD:-->
<!--                            -->
<!--                            <form action="/opret-bruger/create" method="post">-->
<!--                                <button type="submit" formmethod="post">Create using POST</button>-->
<!--                            </form>-->

<!--                            <form action="/opret-bruger/delete" method="post">-->
<!--                                <button type="submit" formmethod="post">Delete using POST</button>-->
<!--                            </form>-->


                        </div>
                    </div>
                    <div id="cookieBox">
                <div id="cookieText" >
                    <p data-key="cookie" style="display: inline;">Cookies skal være aktiveret i din browser</p>
                    <button id="questionMarkButton"><img src="/images/blue-question-mark.png" alt="?"></button>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>
