<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
            <div id="loginBoxBackground">
                <div id="loginContent">
                    <img src="/images/text-logo.png" id="zealandLogo" alt="Zealand">
                    <div class="loginBtnBox">
                        <div class="form-group" id="virksomhedOpret"> <!-- Virksomheds rediger form-->
                            <p>Påkrævet</p><br>
                            <div class="form-group row fitem">
                                <div class="col-md-6"><label for="virksomhedEmail">Email</label></div>
                                <div class="col-md-6"><input type="email" id="virksomhedEmail" class="form-control" name="Email" placeholder="Email" value="bob@gmail.com"></div>
                            </div>
                            <div class="form-group row fitem">
                                <div class="col-md-6"><label for="virksomhedTelefonnummer">Telefonnummer</label></div>
                                <div class="col-md-6"><input type="string" id="virksomhedTelefonnummer" class="form-control" name="Telefonnummer" placeholder="Telefonnummer" value="77777777"></div>
                            </div>
                            <div class="form-group row fitem">
                                <div class="col-md-6"><label for="virksomhedBy">By</label></div>
                                <div class="col-md-6"><input type="string" id="virksomhedBy" class="form-control" name="By" placeholder="By" value="Næstved"></div>
                            </div>
                            <div class="form-group row fitem">
                                <div class="col-md-6"><label for="virksomhedPostnummer">Postnummer</label></div>
                                <div class="col-md-6"><input type="string" id="virksomhedPostnummer" class="form-control" name="Postnummer" placeholder="Postnummer" value="4700"></div>
                            </div>
                            <div class="form-group row fitem">
                                <div class="col-md-6"><label for="virksomhedCVR">CVR-Nummer</label></div>
                                <div class="col-md-6"><input type="string" id="virksomhedCVR" class="form-control" name="CVR" placeholder="CVR-Nummer" value="12345678"></div>
                            </div>
                            <div class="form-group row fitem">
                                <div class="col-md-6"><label for="adgangskodeKnap">Adgangskode</label></div>
                                <div class="col-md-6"><input type="button" id="adgangskodeKnap" class="form-control" name="adgangskodeKnap" value="Nulstil adgangskode"></div>
                            </div>
                            <br><p>Valgfri</p><br>
                            <div class="form-group row fitem">
                                <div class="col-md-6"><label for="virksomhedCVR">Navn</label></div>
                                <div class="col-md-6"><input type="string" id="virksomhedCVR" class="form-control" name="CVR" placeholder="CVR-Nummer" value="Big Food A/S"></div>
                            </div>
                            <div class="form-group row fitem">
                                <div class="col-md-6"><label for="virksomhedCVR">Adresse</label></div>
                                <div class="col-md-6"><input type="string" id="virksomhedCVR" class="form-control" name="CVR" placeholder="CVR-Nummer" value="Dingovej 12"></div>
                            </div>
                            <div class="form-group row fitem">
                                <div class="col-md-6"><label for="virksomhedCVR">Hjemmeside</label></div>
                                <div class="col-md-6"><input type="string" id="virksomhedCVR" class="form-control" name="CVR" placeholder="CVR-Nummer" value="www.bigfood.dk"></div>
                            </div>
                            <div class="form-group row fitem">
                                <div class="col-md-6"><label for="virksomhedCVR">Direktør</label></div>
                                <div class="col-md-6"><input type="string" id="virksomhedCVR" class="form-control" name="CVR" placeholder="CVR-Nummer" value="Arne Nielsen"></div>
                            </div>
                            <div class="form-group row fitem">
                                <div class="col-md-6"><label for="virksomhedCVR">Land</label></div>
                                <div class="col-md-6"><input type="string" id="virksomhedCVR" class="form-control" name="CVR" placeholder="CVR-Nummer" value="Danmark"></div>
                            </div>
                            <div class="form-group row fitem">
                                <div class="col-md-6"><label for="virksomhedCVR">Beskrivelse</label></div>
                                <div class="col-md-6"><textarea name="beskrivelse" id="beskrivelseTA" cols="45" rows="10">bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</textarea></div>
                            </div>
                            <div class="form-group row">
                                <div class="col"><label for="virksomhedCVR">Logo</label></div>
                                <div class="custom-file col-auto">
                                    <input type="file" name="company_logo" accept=".png, .jpeg, .jpg, .svg, .bmp" class="custom-file-input" id="CompanyLogo" onchange="updateInputLabel('logoLabel', 'CompanyLogo')">
                                    <label class="custom-file-label" id="logoLabel" for="CompanyLogo">Vælg fil</label>
                                    <div class="col-auto">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" class="center-cropped float-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="gulKnap" data-key="opret"> Gem Ændringer</button>

<!--                            Midlertidige knapper til CRUD:-->
<!--                            -->
<!--                            <form action="/opret-bruger/create" method="post">-->
<!--                                <button type="submit" formmethod="post">Create using POST</button>-->
<!--                            </form>-->

<!--                            <form action="/opret-bruger/delete" method="post">-->
<!--                                <button type="submit" formmethod="post">Delete using POST</button>-->
<!--                            </form>-->


                        </div>
                    </div>
                    <div id="cookieBox">
                        <div id="cookieText" >
                            <p data-key="cookie" style="display: inline;">Cookies skal være aktiveret i din browser</p>
                            <button id="questionMarkButton"><img src="/images/blue-question-mark.png" alt="?"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>