<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 data-key="Nulstil_adgangskode">
                Nulstil adgangskode
            </h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-9 col-md-4">
            <form method="POST" action="/reset-password" id="resetPasswordForm">
                <div class="form-group">
                    <label for="password" data-key="labelAdgangskode_html">Adgangskode
                        <span class="tooltiphelp" data-toggle="tooltip" data-placement="top"
                              title="Adgangskoden skal være mellem 8 og 20 cifre">?</span>
                    </label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="gentagPassword" data-key="labelGentagAdgangskode">Gentag adgangskode</label>
                    <input type="password" id="gentagPassword" name="gentagPassword" class="form-control">
                    <p
                            id="passwordError"
                            class="CVErrorColor"
                            hidden="true"
                            data-key="Password_hint_error"
                    >Adgangskoden er ikke gyldig. Se hjælpen i det gule spørgsmålstegn.</p>
                </div>
                <div class="form-group">
                    <input type="hidden" id="email" name="email" value={{record.email}} class="form-control">
                    <input type="hidden" id="token" name="token" value={{record.token}} class="form-control">
                </div>
            </form>
            <button class="btn btn-success" onclick="resetPassword()">Send</button>
        </div>
    </div>
</div>
<script>
    function resetPassword() {
        let password = document.getElementById('password').value;
        let gentagPassword = document.getElementById('gentagPassword').value;
        let error = document.getElementById('passwordError');
        let valid = true;

        if (password.length < 8 || password.length > 20) {
            error.hidden = false;
            valid = false;
        }

        if (password !== gentagPassword){
            error.hidden = false;
            valid = false;
        }

        if (!valid) {
            return;
        }

        error.hidden = true;
        document.forms["resetPasswordForm"].submit();
    }
</script>