<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p data-key="Password_reset_success">Adgangskoden er nulstillet. Log venligst ind med din nye adgangskode.</p>
        </div>
    </div>
</div>
