<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 id="cvOverskrift">Praktikopslag</h1>
            <hr>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-2 border rounded h-100">
            <h5 class="m-2">Filter</h5>
            <form class="mt-3 mb-3" id="filterForm" method="POST" action="search-praktik/query"
                onsubmit="return submitForm(this);">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title mb-2">
                                <a id="filtrerUddannelser" class="text-decoration-none" data-toggle="collapse"
                                    data-parent="#accordion" href="#collapse1" onclick='onDropdownUddannelserClick()'>
                                    Uddannelser
                                </a>
                                <button id="dropdownUddannelser" class="btn btn-sm dropdown-toggle p-0 m-0">

                                </button>

                            </h6>
                        </div>

                        <div id="collapse1" class="panel-collapse collapse in">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                {{#each udd}}
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        {{name}}
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="udd{{name}}"
                                        onclick="addFilter('udd', '{{id}}')">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="panel-heading">
                            <h6 class="panel-title mb-2">
                                <a id="filtrerIndlandUdland" class="text-decoration-none" data-toggle="collapse"
                                    data-parent="#accordion" href="#collapse2" onclick='onDropdownLandClick()'>
                                    Land
                                </a>
                                <button id="dropdownLand" class="btn btn-sm dropdown-toggle p-0 m-0">

                                </button>
                            </h6>
                        </div>

                        <div id="collapse2" class="panel-collapse collapse in">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Indland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="indland"
                                        onclick="addFilter('lnd', 'Indland')">
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Udland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="udland"
                                        onclick="addFilter('lnd','Udland')">
                                </li>

                            </ul>


                        </div>

                        <div class="panel-heading">
                            <h6 class="panel-title mb-2">
                                <a id="filtrerIndlandUdland" class="text-decoration-none" data-toggle="collapse"
                                    data-parent="#accordion" href="#collapse3" onclick='onDropdownLandClick()'>
                                    Region
                                </a>
                                <button id="dropdownLand" class="btn btn-sm dropdown-toggle p-0 m-0">

                                </button>
                            </h6>
                        </div>

                        <div id="collapse3" class="panel-collapse collapse in">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Hovedstaden
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="reg1"
                                        onclick="addFilter('reg', '1')">
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Midtjylland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="reg2"
                                        onclick="addFilter('reg','2')">
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Nordjylland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="reg3"
                                        onclick="addFilter('reg','3')">
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Sjælland
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="reg4"
                                        onclick="addFilter('reg','4')">
                                </li>
                                <li class="mb-2 d-flex flex-row">
                                    <label class="form-check-label flex-fill">
                                        Syddanmark
                                    </label>
                                    <input class="align-self-center" type="checkbox" name="reg5"
                                        onclick="addFilter('reg','5')">
                                </li>

                            </ul>


                        </div>

                        <div class="panel-heading">
                            <h6 class="panel-title mb-2">
                                <a id="filtrerIndlandUdland" class="text-decoration-none" data-toggle="collapse"
                                    data-parent="#accordion" href="#collapse4" onclick='onDropdownLandClick()'>
                                    By
                                </a>
                                <button id="dropdownLand" class="btn btn-sm dropdown-toggle p-0 m-0">

                                </button>
                            </h6>
                        </div>

                        <div id="collapse4" class="panel-collapse collapse in">
                            <ul class="pl-3 mr-2" style="list-style: none;">
                                <li class="mb-2 d-flex flex-column">
                                    <label class="form-check-label flex-fill">
                                        Indtast postnummer
                                    </label>
                                    <input id='inputPost' class="align-self-center" type="text" name="pos">
                                    
                                </li>
                                <li>
                                    <button class="btn btn-success" onclick="addFilter('pos', document.getElementById('inputPost').value)">Søg</button>
                                    <button class="btn btn-success" onclick="document.getElementById('inputPost').value = ''">Ryd</button>
                                </li>
                                
                            </ul>


                        </div>
                        
                    </div>
                </div>


                {{!-- <button class="btn btn-success mb-2 mt-4" type="submit">Filtrer</button> --}}
            </form>
        </div>
        <div class="col">
            <div class="mb-2 d-flex flex-row">
                <label id="results" class="mb-0 flex-fill align-self-center">
                    {{resultater}} resultater
                </label>
                <label class="mb-0 mr-1 align-self-center">
                    Sortering:
                </label>
                <div class="btn-group">
                    <button type="button" id="dropdownButton" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" value="updatedAt">
                        Senest opdateret
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" id="senestOpdateret" onclick="changeSort(this, 'updatedAt')">Senest
                            opdateret</a>
                        <a class="dropdown-item" id="overskrift" onclick="changeSort(this, 'overskrift')">Ny
                            sortering</a>
                    </div>
                </div>
                <label class="mb-0 mr-1 align-self-center">
                    Rækkefølge:
                </label>
                <div class="btn-group">
                    <button type="button" id="dropdownButton2" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" value="DESC">
                        Faldende
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" id="ascending" onclick="changeOrder(this, 'ASC')">Stigende</a>
                        <a class="dropdown-item" id="descending" onclick="changeOrder(this, 'DESC')">Faldende</a>
                    </div>
                </div>

            </div>
            <div id=cards>
                {{> search-praktik-card}}
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center" id="pagination">
        {{> search-pagination}}
    </div>
</div>
<script src="/javascript/search_praktik.js"></script>