<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 id="cvOverskrift" data-key="Virksomheder">Virksomheder</h1>
            <hr>
            <label id="results" class="mb-3 mt-5 ml-2">
                    {{resultater}} virksomheder registreret
            </label>
        </div>
    </div>
    <div id=cards>
    {{> search-virksomhed-card }}
    </div>
    <div class="row d-flex justify-content-center" id="pagination">
        {{> search-pagination}}
    </div>
</div>