<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8">

            <p>Uddannelses opret</p>
            <button id="opretBtn" onclick="opret()">Opret datamatiker</button>
        </div>
    </div>

</div>

<script>
    function opret() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log('sending post for create')
                let responseObj = JSON.parse(this.responseText)
                console.log(responseObj)
            }
        }
        xhttp.open('POST', '/uddannelser/create', true);
        xhttp.setRequestHeader("Content-Type", "text/plain")
        xhttp.send(JSON.stringify ({
            name: "datamatiker"
        }));
    }
</script>
