
<div class="container-fluid">

    <div class="d-flex flex-row mt-5 ">

        <div class="col-lg-6 card bg-light text-dark mx-5">
            <div class="card-body container">
                <h4>Virksomheds oplysninger</h5>
                <a href="/rediger" class="font-weight-bold text-dark" ><u>Rediger profil</u></a>
                
            </div>
        </div>

        <div class="col-lg-4 card bg-light text-dark mx-5">
            <div class="card-body">
                <p>side</p>
            </div>
        </div>
        
    </div>

    <div class="d-flex flex-row mt-5">
        <div class="col-lg-6 card bg-light text-dark mx-5">
            <p>under</p>
        </div>
    </div>


</div>