<div class="container-fluid">
    <div class="card-columns mt-5" style="column-count: 2;">

        <div class="container">
            <div class="card bg-light text-dark mx-5 pl-4 pt-2 pb-3">
                <h4 data-key="virksomhedsoplysninger" class="card-title mb-0">Virksomheds oplysninger</h5>
                    <a href="/rediger" class="font-weight-bold text-dark" data-key="redigerprofil"><u>Rediger
                            profil</u></a>

                    <h5 class="card-title mt-2" data-key="virksomhedsnavn">Virksomheds navn</h5>
                    <p id="virksomhedsnavn" class="card-text">Zealand Erhversakademi</p>

                    <h5 class="card-title mt-2" data-key="virksomhedsemail">virksomheds Email</h5>
                    <p id="virksomhedsemail" class="card-text">Zealand@zealand.dk</p>

                    <h5 class="card-title mt-2" data-key="virksomhedspostnummerogby">Postnummer og By</h5>
                    <div class="d-flex flex-row">
                        <p class="card-text pr-3">4600</p>
                        <p class="card-text">Køge</p>
                    </div>

                    <h5 class="card-title mt-2" data-key="virksomhedsaddresse">Addresse</h5>
                    <p id="virksomhedsaddresse" class="card-text">Lyngvej 21</p>

                    <h5 class="card-title mt-2" data-key="virksomhedsland">Land</h5>
                    <p id="virksomhedsland" class="card-text">Danmark</p>

                    <h5 class="card-title mt-2" data-key="virksomhedsCVR">CVR-nummer</h5>
                    <p id="virksomhedsCVR" class="card-text">31661471</p>
            </div>
            <div class="card bg-light text-dark mx-5 pl-4 pt-2 pb-3">
                <p id="virksomhedsbeskrivelse">Beskrivelse: </p>
            </div>
        </div>

        <div class="container">

            <div class="card bg-light text-dark mx-5 pl-4 pt-2 pb-3">
                <div class="d-flex justify-content-center" id="virksomhedslogodiv">
                    <img class="card-img h-100 w-75 "
                        src="https://www.strunkmedia.com/wp-content/uploads/2018/05/bigstock-221516158.jpg" alt="Logo">
                    <div class="card-img-overlay">
                        <!-- <h5 class="card-title" data-key="virksomhedslogo">Virksomheds Logo</h5> -->
                    </div>
                </div>
            </div>

            <div class="card bg-light text-dark mx-5 pl-4 pt-2 pb-3">
                <h4 class="card-title mb-0" data-key="kontaktperson"> Kontakt person</h5>

                    <h5 class="card-title mt-2" data-key="navn">Navn</h5>
                    <p id="kontaktnavn" class="card-text">navn eksempel</p>

                    <h5 class="card-title mt-2" data-key="efternavn">Efternavn</h5>
                    <p id="kontaktefternavn" class="card-text">efternavns eksempel</p>

                    <h5 class="card-title mt-2">Email</h5>
                    <p id="kontaktemail" class="card-text">Email eksempel</p>

                    <h5 class="card-title mt-2" data-key="stilling">Stlling</h5>
                    <p id="kontaktstilling" class="card-text">Stilling eksempel</p>

            </div>

            <div class="card bg-light text-dark mx-5 pl-4 pt-2 pb-3">
                <!-- til dokumenter, tænker indsat fra database med navn og download link osv -->
                <h4 class="card-title pb-1" data-key="dokumenter">Dokumenter</h4>

                <div class="d-flex flex-column" id="dokumenterhertil">

                    <a href="#">Dette er nogle eksempler</a>
                    <a href="#">Prospektus</a>
                    <a href="#">Praktik intro</a>



                </div>
            </div>
        </div>

    </div>

</div>